@import '../shared/BaseSectionTemplate.module.scss';

.container {
    @extend %section-container;

    padding: 0px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: none;

    @media (min-width: 560px) {
        padding: 0px 64px;
    }

    @media (min-width: 1440px) {
        padding: 0px 64px;
    }

    &--template {
        pointer-events: none;
    }

    &--editable {
        overflow: visible;
    }

    &--cards-2.container--template {
        aspect-ratio: 1440 / 496;
    }

    &--cards-3.container--template {
        aspect-ratio: 1440 / 566;
    }

    &--cards-4.container--template {
        aspect-ratio: 1440 / 666;
    }
}
