@use '../../../../assets/sass/variables/colors';
@use '../../../../assets/sass/variables/fonts';

.main-values-block * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-values-block {
    color: colors.$blue-900;
    font-family: fonts.$mulish-regular-font;
    position: relative;
    z-index: 0;

    .main-values-title {
        margin-top: 16rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        h2 {
            width: 51.35rem;
            font-weight: 400;
            font-style: normal;
            font-size: 4rem;
            line-height: 4.5rem;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
        }

        span {
            font-weight: 800;
            font-style: italic;
            font-size: 4rem;
            line-height: 4.5rem;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 3;
        }

        span:nth-child(1) {
            background: colors.$yellow-300;
            padding: 0 0.5rem;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                width: 100vw;
                height: 100%;
                background: colors.$yellow-300;
                z-index: -1;
            }
        }

        span:nth-child(3) {
            background: colors.$light-blue-200;
            padding: 0 0.5rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 100%;
                width: 100vw;
                height: 100%;
                background: colors.$light-blue-200;
                z-index: -1;
            }
        }
    }

    .people-block {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        margin-top: 6.9rem;
        height: 65rem;

        .swiper {
            width: 100%;
        }

        .people-card {
            display: flex;
            flex-direction: column;

            &.card-1 {
                transform: translateY(10rem);
            }

            &.card-2 {
                transform: translateY(25rem);
            }

            &.card-3 {
                transform: translateY(2.5rem);
            }

            &.card-4 {
                transform: translateY(26rem);
            }

            img {
                width: 100%;
                height: 27rem;
                object-fit: cover;
            }

            p {
                font-weight: 500;
                font-style: normal;
                font-size: 1.125rem;
                line-height: 1.75rem;
                letter-spacing: -0.02em;
                padding: 1rem 0.5rem;
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 100%;
            z-index: 2;
            padding: 0 2rem;
            top: 50%;

            .arrow-button {
                background-color: colors.$blue-900;
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                transition: all 0.8s ease;
                cursor: pointer;
                z-index: 2;

                .arrow-normal-state,
                .arrow-hover-state {
                    position: absolute;
                    top: 0.5rem;
                    right: 0.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }

                .arrow-hover-state {
                    display: none;
                }

                &:hover {
                    background-color: colors.$yellow-500;

                    .arrow-hover-state {
                        display: block !important;
                    }

                    .arrow-normal-state {
                        display: none;
                    }
                }
            }

            .arrow-left {
                left: 2rem;
            }

            .arrow-right {
                right: 2rem;
            }
        }
    }

    .summary-block {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid colors.$main-value-summary-text;
        max-width: 41rem;
        margin: 0 auto;

        .summary-text {
            padding-top: 2rem;
            max-width: 39rem;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.25rem;
            letter-spacing: -0.02em;
            text-align: center;

            h3 {
                max-width: 35rem;
                margin: 1rem auto 0;
            }
        }
    }
}

@media (max-width: 568px) {
    .main-values-block {

        .main-values-title {
            margin-top: 4.6rem;
            h2 {
                width: 21rem;
                font-size: 2.5rem;
                line-height: 3rem;
            }

            span {
                font-size: 2.5rem;
                line-height: 3rem;
            }

            span:nth-child(1) {
                padding: 0 1.5rem;

                &::after {
                    display: none;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 100vw;
                    height: 100%;
                    background: colors.$yellow-300;
                    z-index: -1;
                }
            }

            span:nth-child(3) {

                &::before {
                    display: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100vw;
                    height: 100%;
                    background: colors.$light-blue-200;
                    z-index: -1;
                }
            }
        }

        .people-block {
            margin-top: 5.4rem;
            height: 37rem;

            .people-card {

                &.card-1 {
                    transform: translateY(0rem);
                }

                &.card-2 {
                    transform: translateY(3.3rem);
                }

                &.card-3 {
                    transform: translateY(0rem);
                }

                &.card-4 {
                    transform: translateY(3.3rem);
                }

                img {
                    height: 26.875rem;
                }

                p {
                    padding: 0.9rem 1.125rem;
                }
            }

            .button-container {
                top: 41%;

                .arrow-left {
                    left: 0.9rem;
                }

                .arrow-right {
                    right: 0.9rem;
                }
            }
        }

        .summary-block,
        .summary-text {
            max-width: 20.813rem;
        }
    }
}
