@use '../../../../../assets/sass/variables/colors';

.partner-page-toolbar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px 24px 8px 24px;
    width: 100%;
    border-bottom: 1px solid colors.$grey-50;
}
