@use '@/assets/sass/variables/colors' as c;

.category-extra {
    margin-left: 0.9375rem;
}
.category-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem;
    position: relative;
    border: none;
    background: transparent;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s;

    &-selected {
        color: c.$blue-900;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 2px;
            background-color: c.$blue-900;
        }
    }

    &:hover {
        background-color: c.$blue-50;
    }
}
