@import '../../../assets/sass/variables/colors.scss';

.category-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem;
    border: none;
    background: transparent;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s;

    &-selected {
        border-bottom: 1px solid $blue-900;
    }

    &:hover {
        background-color: colors.$blue-50;
    }
}
