.container {
    display: flex;
    width: auto;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    aspect-ratio: 1330 / 511;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 9vw;
    gap: 3vw;
}

.title-section {
    flex: 50% 0 0;
}

.description-section {
    flex: 50% 0 0;
}

.editable {
    max-height: 644px;
    justify-content: center;
    gap: 10vw;
}

.editable .title-section {
    flex: 30% 0 0;
}

.editable .description-section {
    flex: 30% 0 0;
}

.template {
    padding: 2vw 6vw 0vw 6vw;
}


.template .title {
    font-size: 2vw;
}

.template .description {
    font-size: 0.9vw;
    line-height: 1.3vw;
}

@media (max-width: 1024px) {
    .title-section {
        flex: 40% 0 0;
    }

    .description-section {
        flex: 60% 0 0;
    }
}

@media (max-width: 768px) {
    .title-section {
        flex: 30% 0 0;
    }

    .description-section {
        flex: 70% 0 0;
    }
}