@import '../BaseSectionTemplate.module.scss';

.container {
    @extend .template-container;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}
