@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.td-cards {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    align-content: start;

    &--editable {
        gap: 1rem;
    }

    &--dual,
    &--quad {
        grid-template-columns: repeat(2, 1fr);
    }

    &--triple {
        grid-template-columns: repeat(3, 1fr);
    }

    &--template {
        pointer-events: none;
        gap: clamp(4px, 0.8vw, 16px);
    }
}

.td-card {
    background: c.$light-blue-50;
    border-radius: 16px;
    padding: 1rem;

    &--editable {
        padding: 1.3rem;
    }
}

.title {
    @include type.subtitle-2-bold;
    margin-bottom: 0.5rem;

    &--template {
        font-size: clamp(4px, 0.76vw, 0.76rem);
        line-height: clamp(5px, 0.9vw, 1rem);
    }
}

.title-field {
    margin-bottom: 1rem;

    input {
        @include type.subtitle-2-bold;
        font-size: 1.03rem;

        &::placeholder {
            opacity: 0.7;
        }
    }
}

.description-field {
    textarea {
        @include type.body-1-regular;
        font-size: 1rem;
        min-height: 10rem;
    }
}

.description {
    @include type.body-1-regular;
    white-space: pre-wrap;
    margin-bottom: 0.5rem;

    &--template {
        font-size: clamp(3px, 0.64vw, 0.64rem);
        line-height: clamp(4px, 0.8vw, 1rem);
    }
}

.description-list {
    list-style: none;
    padding-left: 0.3rem;
    margin: 0;

    li {
        padding-left: 0.7rem;
        position: relative;

        &::before {
            content: '•';
            position: absolute;
            left: 0;
        }
    }
}
