@use '@/assets/sass/variables/colors' as c;

.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.disclaimer {
    padding: 40px;
    background-color: c.$white;
    border: 1px solid c.$grey-500;
    border-radius: 16px;
    box-shadow: 0 24px 48px -12px rgba(17, 17, 19, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.disclaimerLabel {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: c.$grey-900;
}

.disclaimerTextArea {
    background: rgba(182, 208, 228, 0.29);
    border-radius: 6px;
    padding: 20px 25px;
}

.disclaimerText {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: c.$black;
    margin: 0;
}

.summaryCards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
