@use '@/assets/sass/variables/colors' as c;

.language-select {
    width: 150px;
    margin: 0.5rem 0;
}

.language-select-head {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 4px;
        background-image: url('~@/assets/icons/globe.svg');
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
    }
}

.error {
    color: c.$error;
    margin-bottom: 12px;
}
