@import '../../../assets/sass/variables/variables.colors';

.category-bar {
    min-height: 60px;
    display: flex;
    border-bottom: 1px solid $grey-700;
    font-size: 24px;
    font-weight: 600;
    background: #f8f8f8;
    box-shadow: 0 0 4px #80808038;

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border: none;
        background: transparent;
        font-size: 24px;
        text-align: center;
        transition: background-color 0.2s;

        &-selected {
            border-bottom: 1px solid #041128;
        }

        &:hover {
            cursor: pointer;
            background-color: #80808026;
        }
    }
}
