@use '../../../assets/sass/variables/colors';

.category-bar {
    min-height: 3.75rem;
    display: flex;
    border-bottom: 1px solid colors.$grey-700;
    font-size: 24px;
    font-weight: 600;
    background: colors.$grey-50;

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.9375rem;
        border: none;
        background: transparent;
        font-size: 24px;
        text-align: center;
        transition: background-color 0.2s;

        &-selected {
            border-bottom: 1px solid colors.$blue-900;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(colors.$blue-50, 0.15);
        }
    }
}
