@use '@/assets/sass/mixins/utilits.mixins' as utils;
@use '@/assets/sass/mixins/typography.mixins' as type;

.intro-section {
    overflow-x: hidden;
    padding-top: 104px;

    @media (min-width: 560px) {
        padding-top: 66px;
    }

    @media (min-width: 768px) {
        padding-top: 130px;
    }

    @media (min-width: 1440px) {
        padding-top: 52px;
    }
}

.title {
    @include utils.yellow-blue-text;

    font-size: 36px;
    margin-bottom: 172px;

    @media (min-width: 560px) {
        font-size: 48px;
        margin-bottom: 142px;
    }

    @media (min-width: 768px) {
        font-size: 64px;
        margin-bottom: 152px;
    }

    @media (min-width: 1440px) {
        font-size: 96px;
        margin-bottom: 120px;
    }
}

.highlight-yellow,
.highlight-blue {
    @include utils.text-highlight;
}

.highlight-yellow {
    @include utils.yellow-bg-text;
}

.highlight-blue {
    @include utils.blue-bg-text;
}

.additional-info {
    @include type.body-2-regular;

    max-width: 336px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 560px) {
        max-width: 432px;
    }

    @media (min-width: 768px) {
        @include type.body-1-medium;
    }

    p {
        margin: 0;
    }
}
