$img-width: 730px;
$img-height: 430px;
$img-number: 3;

.container {
    aspect-ratio: 1460 / 1235;
    gap: 16px;
}

.top-section {
    flex: 0 0 51%;
}

.bottom-section {
    flex: 0 0 49%;
    justify-content: end;
    padding-bottom: 16px;
}

.image {
    aspect-ratio: 730 / 430;
}

.image-wrapper {
    aspect-ratio: 730 / 430;
    max-width: #{$img-width};
    max-height: #{$img-height};
}
