$img-width: 730px;
$img-height: 430px;
$img-number: 2;

.container {
    gap: 16px;
}

.template {
    aspect-ratio: 1440 / 1235;
}

.top-section {

}

.bottom-section {
    height: $img-height + ($img-height * 0.25) + 50px;
    justify-content: end;
}

.image {
    aspect-ratio: 730 / 430;
}

.image-wrapper {
    aspect-ratio: 730 / 430;
    max-width: #{$img-width};
    max-height: #{$img-height};
}
