.container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    overflow: hidden;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    > div {
        width: 100%;
        padding: 2rem 4rem;
    }
}

.template-info {
    font-size: 1rem;
    color: #666;
    
    strong {
        color: #333;
        font-weight: 600;
    }
}

.actions {
    display: flex;
    justify-content: center;
    gap: 2rem;

    Button {
        width: 325px;
    }
}
