@use '@/assets/sass/mixins/typography.mixins' as type;
@use '@/assets/sass/variables/typography' as t;
@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/z-index';

$line-height-560: 54px;
$line-height-768: 76px;

section {
    overflow: hidden;
}

.slogan {
    @include type.h3-medium-uppercase;
    text-align: center;
    margin: 16px 16px 122px;

    @media (min-width: 560px) {
        font-size: 48px;
        line-height: $line-height-560;
        margin: 54px 64px 156px;
    }

    @media (min-width: 768px) {
        font-size: 64px;
        line-height: $line-height-768;
        margin: 66px 56px 224px;
    }

    @media (min-width: 1440px) {
        margin: 120px 0;
    }
}

.highlight {
    font-weight: t.$fw-bold;
    position: relative;
    display: inline-block;
}

.break-text {
    white-space: break-spaces;
}

.yellow {
    background: colors.$yellow-400;

    &:before {
        background: colors.$yellow-400;
        content: '';
        width: 100vw;
        height: t.$h3-height;
        position: absolute;
        transform: translateX(-100%);

        @media (min-width: 560px) {
            height: $line-height-560;
        }

        @media (min-width: 768px) {
            height: $line-height-768;
        }
    }
}

.blue {
    background: colors.$light-blue-200;
    z-index: 1;

    &:before {
        background: colors.$light-blue-200;
        content: '';
        width: 100vw;
        height: t.$h3-height;
        position: absolute;
        z-index: z-index.public(programs-page-intro-section-background);

        @media (min-width: 560px) {
            height: $line-height-560;
        }

        @media (min-width: 768px) {
            height: $line-height-768;
        }
    }
}
