@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/fonts';
@use '@/assets/sass/variables/z-index';

* {
    margin: 0;
    box-sizing: border-box;
}

.intro-section {
    padding-top: 64px;
    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    @media (min-width: 768px) {
        padding-top: 96px;
        padding-bottom: 80px;
        padding-left: 32px;
        padding-right: 32px;
        gap: 80px;
    }

    @media (min-width: 1024px) {
        padding-top: 128px;
        padding-bottom: 104px;
        padding-left: 56px;
        padding-right: 56px;
        gap: 104px;
    }

    @media (min-width: 1440px) {
        padding-top: 168px;
        padding-bottom: 142px;
        gap: 132px;
    }

    h1 {
        max-width: 1102px;
        width: 100%;
        height: auto;
        font-family: fonts.$mulish-regular-font;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 56px;
            line-height: 68px;
        }

        @media (min-width: 1024px) {
            font-size: 64px;
            line-height: 76px;
        }

        @media (min-width: 1280px) {
            font-size: 80px;
            line-height: 94px;
        }

        @media (min-width: 1440px) {
            font-size: 96px;
            line-height: 112px;
        }
    }

    span {
        font-family: fonts.$mulish-regular-font;
        font-weight: 800;
        font-style: italic;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        background: antiquewhite;

        @media (min-width: 768px) {
            font-size: 56px;
            line-height: 68px;
        }

        @media (min-width: 1024px) {
            font-size: 64px;
            line-height: 76px;
        }

        @media (min-width: 1280px) {
            font-size: 80px;
            line-height: 94px;
        }

        @media (min-width: 1440px) {
            font-size: 96px;
            line-height: 112px;
        }
    }

    span:nth-child(2) {
        background: colors.$yellow-400;
        position: relative;
    }

    span:nth-child(2):before {
        content: '';
        width: 100vw;
        height: 48px;
        background: colors.$yellow-400;
        position: absolute;
        transform: translateX(-100%);

        @media (min-width: 768px) {
            height: 68px;
        }

        @media (min-width: 1024px) {
            height: 76px;
        }

        @media (min-width: 1280px) {
            height: 94px;
        }

        @media (min-width: 1440px) {
            height: 112px;
        }
    }

    span:nth-child(3) {
        background: colors.$light-blue-200;
        position: relative;
        z-index: z-index.public(programs-page-intro-section-text);
    }

    span:nth-child(3):before {
        content: '';
        width: 100vw;
        height: 48px;
        background: colors.$light-blue-200;
        position: absolute;
        z-index: z-index.public(programs-page-intro-section-background);

        @media (min-width: 768px) {
            height: 68px;
        }

        @media (min-width: 1024px) {
            height: 76px;
        }

        @media (min-width: 1280px) {
            height: 94px;
        }

        @media (min-width: 1440px) {
            height: 112px;
        }
    }

    .additional-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
        font-family: fonts.$mulish-regular-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        vertical-align: middle;
        width: 100%;
        max-width: 100%;

        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 26px;
            gap: 16px;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
            font-size: 20px;
            line-height: 28px;
        }

        p {
            width: 100%;
            max-width: 432px;
            text-align: center;

            @media (min-width: 1024px) {
                text-align: left;
            }
        }

        p:nth-child(1) {
            @media (min-width: 1024px) {
                max-width: 430px;
            }
        }

        p:nth-child(2) {
            @media (min-width: 1024px) {
                max-width: 432px;
            }
        }
    }
}

@media (min-width: 768px) {
    .intro-section {
        padding-top: 96px;
        padding-bottom: 80px;
        padding-left: 32px;
        padding-right: 32px;
        gap: 80px;

        h1 {
            font-size: 56px;
            line-height: 68px;
        }

        span {
            font-size: 56px;
            line-height: 68px;
        }

        span:nth-child(2):before {
            height: 68px;
        }

        span:nth-child(3):before {
            height: 68px;
        }

        .additional-info {
            font-size: 18px;
            line-height: 26px;
            gap: 16px;
        }
    }
}

@media (min-width: 1024px) {
    .intro-section {
        padding-top: 128px;
        padding-bottom: 104px;
        padding-left: 56px;
        padding-right: 56px;
        gap: 104px;

        h1 {
            font-size: 64px;
            line-height: 76px;
        }

        span {
            font-size: 64px;
            line-height: 76px;
        }

        span:nth-child(2):before {
            height: 76px;
        }

        span:nth-child(3):before {
            height: 76px;
        }

        .additional-info {
            flex-direction: row;
            font-size: 20px;
            line-height: 28px;

            p {
                text-align: left;
            }

            p:nth-child(1) {
                max-width: 430px;
            }

            p:nth-child(2) {
                max-width: 432px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .intro-section {
        h1 {
            font-size: 80px;
            line-height: 94px;
        }

        span {
            font-size: 80px;
            line-height: 94px;
        }

        span:nth-child(2):before {
            height: 94px;
        }

        span:nth-child(3):before {
            height: 94px;
        }
    }
}

@media (min-width: 1440px) {
    .intro-section {
        padding-top: 168px;
        padding-bottom: 142px;
        gap: 132px;

        h1 {
            font-size: 96px;
            line-height: 112px;
        }

        span {
            font-size: 96px;
            line-height: 112px;
        }

        span:nth-child(2):before {
            height: 112px;
        }

        span:nth-child(3):before {
            height: 112px;
        }
    }
}
