@use '@/assets/sass/variables/colors' as c;

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    background-color: c.$blue-900;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    svg {
        width: 14px;
        height: 14px;
    }

    svg :global(path) {
        stroke: c.$grey-50 !important;
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.template.left {
    left: 24px;
}

.template.right {
    right: 24px;
}
