@use '@/assets/sass/variables/colors' as c;

.sections-list {
    background-color: c.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-divider {
    width: 100%;
    height: 1px;
    background-color: c.$grey-700;
}
