@use '@/assets/sass/variables/colors' as c;

.sections-list {
    background-color: c.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-divider {
    width: 100%;
    height: 1px;
    background-color: c.$grey-700;
}

.add-section-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 0 64px;

    button {
        min-width: 325px;
    }
}

.plus-icon path {
    stroke: c.$blue-500;
}
