@use '../../../../assets/sass/variables/colors';
@use '../../../../assets/sass/variables/fonts';
@use '../../../../assets/sass/variables/z-index';

.scroll-block {
    position: relative;
    height: 38.5rem;
    background-color: colors.$grey-100;

    .custom-scrollbar {
        margin: 3rem 10.5rem;
        height: 0.375rem;
        background: colors.$grey-400;
        border-radius: 0;

        .swiper-scrollbar-drag {
            border-radius: 0;
            background-color: colors.$blue-900;
        }
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 42%;
        z-index: z-index.$scrollable-frame-arrows;
        padding: 0 2rem;
        transition: opacity 2s ease;
        opacity: 0;

        .arrow-button {
            background-color: colors.$blue-900;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            transition: all 0.4s ease;
            cursor: pointer;

            .arrow-icon {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;

                path {
                    stroke: colors.$grey-50;
                }
            }

            &:hover {
                background-color: colors.$yellow-500;

                .arrow-icon path {
                    stroke: colors.$blue-900;
                }
            }
        }

        .arrow-left {
            left: 1.75rem;
        }

        .arrow-right {
            right: 1.75rem;
        }
    }
}
.scroll-block:hover .button-container {
    opacity: 1;
    transition: opacity 1s ease;
}

@media (max-width: 912px) {
    .scroll-block {
        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .scroll-block {
        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 568px) {
    .scroll-block {
        background-color: white;
        height: 32.5rem;

        .custom-scrollbar {
            display: none;
        }

        .button-container {
            .arrow-left {
                left: 0.25rem;
            }

            .arrow-right {
                right: 0.25rem;
            }
        }
    }
}
