@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.image {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 9 / 16;

    @media (min-width: 560px) {
        aspect-ratio: 4 / 3;
    }

    @media (min-width: 768px) {
        aspect-ratio: 1 / 1;
    }

    @media (min-width: 1440px) {
        aspect-ratio: unset;
        height: auto;
    }
}

.content-block {
    background-color: c.$light-blue-300;
    padding: 120px 16px 85px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: 560px) {
        padding: 120px 63px 68px;
    }

    @media (min-width: 768px) {
        padding: 180px 54px 40px;
    }

    @media (min-width: 1440px) {
        padding: 150px 56px 105px;
    }
}

.title {
    @include type.h3-display-extrabold-uppercase;
    color: c.$white;
    text-align: center;

    @media (min-width: 560px) {
        @include type.h2-extrabold-uppercase;
    }

    @media (min-width: 768px) {
        @include type.h1-extrabold-uppercase;
    }

    @media (min-width: 1440px) {
        @include type.h1-display-extrabold-uppercase;
    }
}

.metrics-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

     @media (min-width: 560px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 40px;

        .metric:nth-child(3),
        .metric:nth-child(4) {
            grid-column: 1 / -1;
        }
    }

     @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 40px;

        .metric:nth-child(3) {
            grid-column: auto;
        }

        .metric:nth-child(4) {
            grid-column: 1 / -1;
        }
    }

     @media (min-width: 1440px) {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 0;

        .metric:nth-child(3),
        .metric:nth-child(4) {
            grid-column: auto;
        }
    }
}

.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.metric-value {
    @include type.h3-bold;
    color: c.$blue-700;
    display: block;
    white-space: nowrap;

    @media (min-width: 560px) {
        @include type.h2-bold;
    }

    @media (min-width: 768px) {
        @include type.h2-bold;
    }
    @media (min-width: 1440px) {
        @include type.h2-bold
    }
}

.metric-name {
    @include type.body-2-regular;
    color: c.$blue-700;
    display: block;

    @media (min-width: 568px) {
        @include type.body-1-regular;
    }

    @media (min-width: 768px) {
        @include type.subtitle-2-medium;
    }
}
