@use '@/assets/sass/variables/colors';

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 2.25rem;
    padding: 0.25rem 1rem;
    border-radius: 30px;
    border: 1px solid;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    white-space: nowrap;

    &-draft {
        color: colors.$grey-900;
        background-color: colors.$grey-100;
        border-color: colors.$grey-900;
    }

    &-published {
        color: colors.$blue-500;
        background-color: colors.$light-blue-50;
        border-color: colors.$blue-500;
    }
}
