@use '@/assets/sass/variables/colors';
@use '@/assets/sass/mixins/typography.mixins' as type;

.contact-us-block {
    position: relative;
    min-height: 80vh;
    height: auto;
    width: 100%;

    @media (min-width: 768px) {
        min-height: 100vh;
        height: 100vh;
    }

    video {
        height: 100%;
        min-height: 80vh;
        width: 100%;
        position: absolute;
        object-fit: cover;
        pointer-events: none;

        @media (min-width: 768px) {
            min-height: 100vh;
        }
    }

    .contact-us-info {
        margin: 0 auto;
        padding: 60px 16px 0;
        width: 90%;
        max-width: 1040px;
        position: relative;
        text-align: center;

        @media (min-width: 768px) {
            width: 85%;
            max-width: 800px;
        }

        @media (min-width: 1024px) {
            width: 80%;
            max-width: 1040px;
        }

        .contact-title {
            @include type.h4-bold-uppercase;
            letter-spacing: 0;
            color: white;
            padding-bottom: 96px;

            @media (min-width: 768px) {
                font-size: 48px;
                line-height: 56px;
                padding-bottom: 192px;
            }

            @media (min-width: 1024px) {
                font-size: 56px;
                line-height: 64px;
                padding-bottom: 240px;
            }

            @media (min-width: 1440px) {
                font-size: 64px;
                line-height: 72px;
                padding-bottom: 304px;
            }
        }

        .contact-button {
            margin: 0 auto;
            width: 100%;
            max-width: 320px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 32px;

            @media (min-width: 768px) {
                max-width: 448px;
            }

            @media (min-width: 1024px) {
                max-width: 544px;
            }

            h4 {
                @include type.body-2-medium;
                text-align: center;
                color: white;

                @media (min-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            button {
                @include type.body-2-regular;
                border: none;
                width: 130px;
                height: 40px;
                gap: 8px;
                padding: 8px 24px;
                background: colors.$yellow-500;
                vertical-align: middle;
                color: colors.$blue-900;
                cursor: pointer;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}
