@use '../../../../../assets/sass/variables/colors';

.partner-banner {
    width: 100%;
}

.partner-banner__content {
    display: flex;
    flex-direction: row;
    gap: 48px;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.partner-banner__image {
    flex-basis: 400px;
    flex-shrink: 0;

    @media (max-width: 992px) {
        flex-basis: auto;
        width: 100%;
    }
}

.partner-banner__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
    width: 100%;
}

.partner-banner__fields {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.partner-banner__actions {
    display: flex;
    justify-content: flex-end;
}

.partner-banner__loader,
.partner-banner__error {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}
