@use '../../../../../assets/sass/variables/colors';

.partner-banner-form {
    width: 100%;
    padding-bottom: 84px;
    border-bottom: 1px solid colors.$grey-700;

    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 400px;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            width: 100%;
            height: 100%;
        }
    }

    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 0 32px;
        box-sizing: border-box;
        gap: 32px;

        @media (max-width: 992px) {
            padding: 0;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button {
            width: 100%;
        }
    }

    &__loader,
    &__error {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 20px;
    }


    .partner-banner-form__image{
        width: 840px !important;
        height: 530px;
    }

    .partner-banner-form__main{
        width: 608px !important;
        height: 270px !important;
    }

    .partner-banner-form__title-group,
    .partner-banner-form__description-group {
        position: relative;
    }

    .partner-banner-form__title-group .input-error,
    .partner-banner-form__description-group .input-error {
        position: absolute;
        left: 0;
        bottom: -20px;
        font-size: 12px;
        line-height: 16px;
    }
}
