@use '@/assets/sass/mixins/typography.mixins' as type;
@use '@/assets/sass/variables/typography' as t;

.container {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    .title {
        font-family: t.$font-family-base;
        font-weight: t.$fw-semibold;
        letter-spacing: t.$h3-spacing;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    .title-section {
        flex: 50% 0 0;
    }

    .description-section {
        flex: 50% 0 0;
    }

    .description {
        font-family: t.$font-family-base;
        font-weight: t.$fw-regular;
        letter-spacing: t.$body1-spacing;
        text-transform: none;
        white-space: pre-wrap;
    }

    .title-input {
        input {
            @include type.h3-semibold-uppercase;
        }
    }

    &.editable {
        padding: 8rem 6rem 0 6rem;
        gap: 15%;
        justify-content: center;

        .title-section {
            flex: 30% 0 0;
        }

        .description-section {
            flex: 30% 0 0;
        }
    }

    @media (max-width: 1024px) {
        .title-section {
            flex: 40% 0 0;
        }

        .description-section {
            flex: 60% 0 0;
        }
    }

    @media (max-width: 768px) {
        .title-section {
            flex: 30% 0 0;
        }

        .description-section {
            flex: 70% 0 0;
        }
    }
}
