@import '@/assets/sass/mixins/typography.mixins';

.container {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.title {
    @include h3-semibold-uppercase;
    flex-shrink: 0;
}

.title-section {
    flex: 50% 0 0;
}

.description-section {
    flex: 50% 0 0;
}

.container.editable {
    padding: 8rem 6rem 0 6rem;
    gap: 15%;
    justify-content: center;

    .title-section {
    flex: 30% 0 0;
}

.description-section {
    flex: 30% 0 0;
}
}

.description {
    @include body-1-regular;
    white-space: pre-wrap;
}

.template {
    .title{
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
    .description {
        font-size: clamp(0.6rem, 0.9vw, 1rem);
        line-height: clamp(0.6rem, 0.9vw, 1rem);
    }
}

.title-input{
    input{
        @include h3-semibold-uppercase; 
    }
}

@media (max-width: 1024px) {
    .title-section {
        flex: 40% 0 0;
    }

    .description-section {
        flex: 60% 0 0;
    }
}

@media (max-width: 768px) {
    .title-section {
        flex: 30% 0 0;
    }

    .description-section {
        flex: 70% 0 0;
    }
}