@use '../../../../../assets/sass/variables/fonts';
@use '../../../../../assets/sass/variables/colors';

.partner-section-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5.25rem 3.5rem;
    border-bottom: 1px solid colors.$grey-700;

    &__inputs {
        display: flex;
        flex-direction: row;
        gap: 28.5625rem;

        .partner-section-form__title-group,
        .partner-section-form__description-group {
            flex: 1;
            position: relative;
        }

        .partner-section-form__title-group {
            .char-limit-textarea {
                width: 28.75rem;
            }
            .input-group {
                width: 28.75rem;
                height: 10rem;
            }

            .input-error {
                position: absolute;
                left: 0;
                bottom: 0px;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }

        .partner-section-form__description-group {
            .char-limit-textarea {
                width: 31.5rem;
            }

            .char-limit-textarea__field {
                font-size: 1.25rem;
            }
            .input-error {
                position: absolute;
                left: 0;
                bottom: 0px;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }
    }

    &__inputs > * {
        flex: 1;
    }

    &__partners-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.875rem;
        align-items: flex-start;
    }

    &__add-card {
        width: 13.125rem;
        height: 25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button {
            font-family: fonts.$mulish-regular-font;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: colors.$blue-500;
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
        }
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        gap: 4rem;

        button {
            width: 20.3125rem;
        }
    }
}
