 /* LEGACY CSS */
.title-group .char-limit-textarea {
    width: 28.75rem;
}

.title-group .input-group {
    width: 28.75rem;
    height: 10rem;
}

.title-group .input-error {
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 0.75rem;
    line-height: 1rem;
}

.description-group .char-limit-textarea {
    width: 31.5rem;
}

.description-group .char-limit-textarea__field {
    font-size: 1.25rem;
}

.description-group .input-error {
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 0.75rem;
    line-height: 1rem;
}