@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 0 15px;
    max-width: 1440px;
    gap: 5px;
    border: 1px solid c.$grey-600;
    border-radius: 16px;
    padding: 30px 40px 63px 40px;
    box-shadow: 0 11px 18px rgba(c.$bluish-black, 0.19);
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field {
    width: 100%;
}

.view-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view-label {
    @include type.subtitle-1-bold;

    color: c.$grey-900;
    text-transform: uppercase;
}

.view-text {
    color: c.$black;
    background-color: c.$light-blue-25;
    border-radius: 5px;

    &-title {
        @include type.h4-bold;

        padding: 20px 25px;
    }

    &-description {
        @include type.subtitle-1-bold;

        padding: 40px 25px;
        line-height: 30px;
    }
}

.edit-button-container {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    gap: 40px;
}

.translate-button {
    border: none;
}

.edit-button {
    border: none;
    height: 22px;
    width: 20px;
}

.view-root {
    position: relative;
}

.edit-root {
    padding: 57px 40px 45px 40px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-actions {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 12px;
}

.button {
    @include type.subtitle-1-medium;
    width: 305px;
    height: 60px;
}
