@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 0 15px;
    max-width: 1440px;
    gap: 5px;
    border: 1px solid c.$grey-600;
    border-radius: 16px;
    padding: 30px 40px 63px 40px;
    box-shadow: 0 11px 18px rgba(c.$bluish-black, 0.19);
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field {
    width: 100%;
}

.view-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view-label {
    @include type.subtitle-1-bold;
    color: c.$grey-900;
    text-transform: uppercase;
}

.view-text {
    color: c.$black;
    font-weight: 700;
    background-color: c.$light-blue-25;
    border-radius: 5px;

    &-title {
        padding: 20px 25px;
    }

    &-description {
        padding: 40px 25px;
    }
}

.view-text-title {
    @include type.h4-bold;
}

.view-text-description {
    @include type.subtitle-1-bold;
}

.edit-button-container {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.edit-button {
    border: none;
    height: 22px;
    width: 20px;
    background: url('~@/assets/icons/edit.svg');

    &:hover {
        cursor: pointer;
        background: url('~@/assets/icons/edit-grey.svg');
    }

    &:active {
        background: url('~@/assets/icons/edit-filled.svg');
    }
}
