@use '@/assets/sass/variables/colors' as c; 

.root {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1440px;
    width: auto;
    height: 100%;
    border: 1px solid #E2E2E2;
    border-radius: 16px;
    padding: 63px 40px;
    margin: 0 15px;
    box-shadow:
        0 12px 15px rgba(17,17,19,0.19);
}

.field {
    width: 100%;
}

.view-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-label {
    font-size: 24px;
    font-weight: 600;
    color: rgba(98, 97, 97, 1);
    text-transform: uppercase;
    letter-spacing: 0px;
}

.view-text {
    color: c.$black;
    font-weight: 600;
    letter-spacing: 0px;
    background-color: c.$light-blue-25;
    border-radius: 5px;

    &-title {
        padding: 22px 25px;
    }

    &-description {
        padding: 47px 25px;
    }
}

.view-text-title {
    font-size: 32px;
}

.view-text-description {
    font-size: 24px;
    line-height: 30px;
}
