.template-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 5rem);
    height: 40rem;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}
