@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 28px;
    color: c.$blue-50;

    @media (min-width: 560px) {
        padding: 32px 32px 40px;
    }

    @media (min-width: 1440px) {
        padding: 32px 48px;
    }
}

.title {
    @include type.subtitle-2-semibold;
}
