$img-width: 360px;
$img-height: 390px;
$img-number: 4;

.container {
    gap: 16px;
}

.template {
    aspect-ratio: 1440 / 1183;
}

.bottom-section {
    height: $img-height + ($img-height * 0.25) + 50px;
    justify-content: end;

    .template & {
        max-height: 45%;
    }
}

.image-wrapper {
    aspect-ratio: 360 / 390;
    max-width: #{$img-width};
    max-height: #{$img-height};
}


.image {
    aspect-ratio: 360 / 390;
}

.form-container {
    gap: 32px;
}
