.container {
    aspect-ratio: 1330 / 1183;
    gap: 1rem;
}

.top-section {
    flex: 0 0 53%;
}

.bottom-section {
    flex: 0 0 48%;
    justify-content: flex-start;
}

.images-grid {
    grid-template-columns: repeat(4, 1fr);
}

.image-wrapper {
    &[data-elevated='true'] {
        transform: translateY(5rem);
    }
}

.image {
    aspect-ratio: 360 / 390;
}

.container.editable {
    gap: 2rem;

    .top-section {
        height: 10px;
    }

    .images-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .image-wrapper {
        aspect-ratio: 360 / 390;
        max-height: 390px;
        max-width: 360px;
    }
}
