/* LEGACY CSS */

.translate-faq-form {
    .language-select {
        .select-head {
            border: none;
            background: transparent;
            box-shadow: none;
            padding: 0;
        }

        .select-options-selected {
            justify-content: center;
        }
    }
}