.multiselect {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    &-placeholder-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 10px 16px;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        border: 1px solid #0f2957;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(10, 13, 18, 0.05);
        cursor: pointer;

        &-selected {
            border-color: #a4a49b;
        }

        &-disabled {
            background: #d2d2c7;
        }

        .placeholder {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex: 1;
            color: #a4a49b;

            &-content {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

            &-selected {
                color: #414651;
            }
        }

        .chevron {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-options-container {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        z-index: 99999;
        width: 100%;
        background: #ffffff;
        border: 1px solid #a4a49b;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(10, 13, 18, 0.05);
        max-height: 200px;
        overflow-y: auto;

        .option {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
                background: #e7eaee;
            }

            &-selected {
                background: #e7eaee;
            }

            &-content {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #414651;
            }

            .checkbox {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
