@use '@/assets/sass/mixins/typography.mixins' as type;
@import '../shared/BaseSectionTemplate.module.scss';

$img-height: 680px;

.container {
    padding-top: 80px;
}

.top-section {
    height: $img-height;
}

.image-wrapper {
    height: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
    height: $img-height;
}