@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/fonts';

.not-found-message-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 82rem;
    margin: 0 auto;

    .not-found-message-text {
        h1 {
            font-family: fonts.$mulish-regular-font;
            font-size: 2.375rem;
            font-weight: 600;
            color: colors.$blue-900;
            margin: 0;
            line-height: 1.125rem;
            white-space: nowrap;
        }
    }

    .not-found-message-description {
        width: 25rem;
    }
}

.not-found-message-description {
    p {
        font-family: fonts.$mulish-regular-font;
        font-size: 1.125rem;
        color: colors.$blue-900;
        line-height: 1.75rem;

        &:first-child {
            display: inline;
        }

        &:last-of-type {
            display: block;
        }
    }

    .link-to-main {
        width: 100%;
        display: flex;
        padding: 0.5rem 0;
        justify-content: flex-end;
        align-items: flex-end;
        text-decoration: none;
        margin-top: 1.5rem;

        .link-block {
            width: 13.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-bottom: 1px solid colors.$blue-900;

            .link-title {
                font-family: fonts.$mulish-regular-font;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02em;
                vertical-align: middle;
                color: colors.$blue-900;
            }
        }
    }
}
