.text-suggestion-content {
    width: 100%;
    font-size: 0.875rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &__tooltip {
        display: inline-block;
        white-space: normal;
        word-break: break-word;
    }
}
