$img-width: 480px;
$img-height: 480px;

.template {
    aspect-ratio: 1440 / 1302;
}

.bottom-section {
    height: $img-height + ($img-height * 0.25) + 50px;
    justify-content: end;
}

.image-wrapper {
    aspect-ratio: 480 / 480;
    max-width: #{$img-width};
    max-height: #{$img-height};
}

.image {
    aspect-ratio: 480 / 480;
}

.form-container {
    gap: 32px;
}
