@use '@/assets/sass/variables/colors' as c;

.wrapper {
    position: relative;
    width: 100%;
}

.template {
    max-width: var(--carousel-max-width);
    margin: 0 auto;
}

.viewport {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    width: 100%;
    max-width: 100%;
}

.track {
    display: flex;
    gap: var(--gap);
    align-items: stretch;
    width: max-content;
    padding-bottom: 2px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    background-color: c.$blue-900;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    svg {
        width: 14px;
        height: 14px;
    }

    svg :global(path) {
        stroke: c.$grey-50 !important;
    }
}

.nav-left {
    left: 0;
}

.nav-right {
    right: 0;
}

.template .nav-left {
    left: 24px;
}

.template .nav-right {
    right: 24px;
}
