@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    display: grid;
    grid-template-columns: 1fr;
    margin: 48px 16px 63px;
    gap: 40px;

    @media (min-width: 560px) {
        margin: 73px 64px 75px;
        gap: 96px;
    }

    @media (min-width: 768px) {
        margin: 73px 56px 63px;
    }

    @media (min-width: 1440px) {
        margin: 70px 56px 48px;
        grid-template-columns: repeat(12, 1fr);;
        grid-template-rows: 1fr;
        gap: 4px;
    }
}

.description-content {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: flex-end;
    
    @media (min-width: 1440px) {
        grid-column: 8 / span 5;
    }
}

.title {
    @include type.h4-semibold;

    @media (min-width: 1440px) {
        grid-column: span 5;
    }
}

.description {
    @include type.subtitle-2-medium;
}