@use '@/assets/sass/mixins/typography.mixins' as type;

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 64px 16px;
    min-height: 400px;

    @media (min-width: 560px) {
        padding: 64px 64px;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        padding: 80px 0px;
        gap: 16px;
        justify-content: center;
    }
}

.title-section {
    @media (min-width: 1440px) {
        width: 659px;
    }
}

.description-section {
    @media (min-width: 1440px) {
        width: 432px;
    }
}

.title {
    @include type.h3-bold-uppercase;
    overflow-wrap: anywhere;
    word-break: normal;
}

.description {
    @include type.body-1-medium;
    overflow-wrap: anywhere;
    word-break: normal;
    white-space: pre-wrap;
}
