@use '../../../assets/sass/variables/colors';
@use '../../../assets/sass/variables/z-index';

.drag-preview {
    position: fixed;
    z-index: z-index.admin(drag-preview);
    pointer-events: none;
    background-color: white;
    border: 2px solid colors.$blue-50;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(black, 0.15);
    opacity: 0.9;
    transition: none;
    cursor: grabbing;
    width: 70%;

    &:focus-within {
        cursor: grabbing;
    }

    &:hover {
        cursor: grabbing;
    }

    .dragger {
        background-color: colors.$blue-50;
    }

    .item-data {
        width: 100%;
        height: 100%;
        padding: 1.875rem;
        box-sizing: border-box;
        background: colors.$grey-50;
        box-shadow: 0 1px 2.8px 0 rgba(black, 0.15);
    }
}

.drag-preview-wrapper {
    margin-left: 1px;
    padding: 0;
    border: none;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    display: flex;
    height: 7.5rem;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 4px rgba(black, 0.15);
}
