@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/fonts';

.not-found-page-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;

    .not-found-page-intro-content {
        background-color: colors.$light-blue-100;
        width: 100%;
        height: 21rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 34rem;
            font-weight: 900;
            color: #fdfdfb;
            line-height: 1;
            transform: translateY(-6%);
            font-family: fonts.$mulish-regular-font;
        }
    }
}
