@use '~@assets/sass/variables/colors';
@use '~@assets/sass/variables/fonts';
.copyTextButton {
    all: unset;
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0.6;
}
.copyTextButton:hover {
    opacity: 1;
}

.copyTextButton.copied {
    opacity: 1;
    color: colors.$green;

    .copyMessage {
        position: absolute;
        left: 1.25rem;
        top: 50%;
        color: colors.$green;
        font-family: fonts.$mulish-regular-font;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        animation: fadeInOut 2s ease forwards;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-5px);
    }

    10% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }

    90% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%) translateX(-5px);
    }
}
