$mulish-font-family: 'Mulish', sans-serif;

.abroadPaymentDetails {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.abroadPaymentDetailsBlock {
    h2 {
        font-family: $mulish-font-family;
        color: #061125;
        font-weight: 700;
        font-size: 2rem;
    }
    .abroadPaymentDetailsContent {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;

        .labelsContainers {
            padding-top: 0.375rem;
        }

        h3 {
            font-weight: 600;
            font-size: 1.5rem;
            color: #061125;
            font-family: $mulish-font-family;
            padding-bottom: 0.125rem;
        }

        .label {
            font-family: $mulish-font-family;
            color: #061125;
            font-size: 1.125rem;
            font-weight: 400;
            padding-bottom: 0.125rem;
        }

        .labelsContainer {
            padding-bottom: 0.125rem;
        }

        .highlightedLabel {
            font-family: $mulish-font-family;
            font-weight: 700;
            color: #061125;
            font-size: 1.125rem;
        }

        .labelWithCopyButton {
            padding-top: 0.125rem;
            display: flex;
            gap: 0.5rem;
        }
    }
}
