.members {
  padding-left: 44px;
  padding-right: 44px;

  &-not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-weight: 600;
      font-size: 40px;
    }
  }

  &-categories {
    border-bottom: 1px solid #A4A49B;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    background-color: #F8F8F8;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.22);

    button {
      font-size: 24px;
      border: none;
      background: transparent;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;
      padding: 15px;

      &.members-categories-selected {
        border-bottom: 1px solid #041128;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.15);
      }
    }
  }

  &-list {
    position: relative;
    height: 77vh;
    max-height: 77vh;
    padding-left: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &-loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        animation: rotate infinite 1s;
      }
    }

    &-list-to-top {
      right: 150px;
      bottom: 50px;
      position: fixed;
      width: 60px;
      height: 60px;
      background-color: #0F2957;
      border-radius: 1000%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: #061125;
      }
    }
  }

  &-add-modal {
    &-header {
      display: block;
      width: 100%;
      font-size: 32px;
      font-weight: 400;
      text-align: center;
    }

    &-body {
      padding: 10px;

      .form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 10px;

        label {
          color: #414651;
        }

        &-description {
          resize: none;
          height: 177px;
          gap: 8px;
          padding: 10px 14px;
          border-radius: 8px;
          box-shadow: 0px 1px 2px 0px #0A0D120D;
          border: 1px solid #D5D7DA;

          &-length-limit {
            display: flex;
            width: 100%;
            justify-content: end;
            color: #717680;
          }
        }

        &-fullname {
          &-lenght-limit {
            top: 37px;
            right: 10px;
            position: absolute;
            display: flex;
            justify-content: end;
            color: #717680;
            width: fit-content;
          }
        }

        &-image {
          &-required {
            color: red;
          }

          &-details {
            display: flex;
          }

          &-choose-file {
            display: block;
            width: 146px;
            height: 152px;
            gap: 10px;
            border-radius: 8px;
            padding: 16px;
            background: #FFFFFF;
            border: 1px solid #D9D9D9CC;
            box-shadow: 0 1px 0 0 #00000040;

            &-inner {
              border: 1px dashed #A1A1A1;
              width: 114px;
              height: 120px;
              border-radius: 4px;
              padding: 5px;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              img {
                width: 24px;
                height: 24px;
              }

              span {
                color: #717680;
                font-size: 14px;
                text-align: center;
              }
            }
          }

          &-loaded {
            padding: 10px;
          }
        }
      }

      select {
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid #D5D7DA;
        box-shadow: 0px 1px 2px 0px #0A0D120D;
      }

      input {
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid #D5D7DA;
        box-shadow: 0px 1px 2px 0px #0A0D120D;
        padding: 10px 60px 10px 10px;
      }

      input[type='file'] {
        display: none;
      }

      select, input, textarea {
        font-size: 16px;
        font-family: "Mulish", sans-serif;
        outline: none;
      }
    }
  }

  &-delete-modal {
    &-header {
      display: block;
      width: 100%;
      font-size: 24px;
      text-align: center;
      color: black;
      font-weight: 400;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button:nth-child(1) {
        width: 195.5px;
        height: 40px;
        padding: 8px 20px 8px 24px;
        gap: 8px;
        border-width: 1px;
        background: white;

        &:hover {
          cursor: pointer;
          background-color: rgba(128, 128, 128, 0.15);
        }
      }

      button:nth-child(2) {
        width: 195.5px;
        height: 40px;
        padding: 8px 24px;
        gap: 8px;
        background: #0F2957;
        color: white;
        transition: 0.2s;
        border: none;

        &:hover {
          background: #061125;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
}

