@use '@/assets/sass/variables/fonts';
@use '@/assets/sass/variables/colors';

.rightSection {
    width: 33.1rem;
    overflow-wrap: anywhere;
    word-break: normal;

    .label {
        overflow-wrap: anywhere;
        word-break: normal;
        max-width: 100%;
    }
}

.locationToggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: -1.5rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$blue-900;
    transition: 0.4s;
    border-radius: 0.75rem;
}

.slider::before {
    position: absolute;
    content: '';
    height: 1.25rem;
    width: 1.25rem;
    left: 0.0625rem;
    bottom: 0.125rem;

    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: colors.$light-blue-500;
}

.switch input:checked + .slider::before {
    transform: translateX(1.375rem);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px colors.$slider-blue;
}

.toggleLabel {
    font-size: 1.5rem;
    font-family: fonts.$mulish-regular-font;
    color: colors.$blue-900;
    font-weight: 600;
}

.donatePaymentDetails {
    padding-top: 1.5rem;
}

.donate-loader {
    padding: 24px;
}

.donate-error-message {
    color: colors.$error;
}
