$light-gray: #a4a49b;
$main-white: #ffffff;
$main-black: #000000;
$scrollbar-grey: #ececec;
$scroll-line-grey: #fdfdfdc9;
$header-background-grey: #fdfdfb80;

$yellow-50: #fffdec;
$yellow-100: #fffac5;
$yellow-200: #fff8a9;
$yellow-300: #fff481;
$yellow-400: #fff269;
$yellow-500: #ffef43;
$yellow-600: #e8d93d;
$yellow-700: #b5aa30;
$yellow-800: #8c8325;
$yellow-900: #6b641c;

$light-blue-50: #eef7fb;
$light-blue-100: #cbe7f4;
$light-blue-200: #b2dbee;
$light-blue-300: #8fcbe6;
$light-blue-400: #79c1e1;
$light-blue-500: #58b1da;
$light-blue-600: #50a1c6;
$light-blue-700: #3e7e9b;
$light-blue-800: #306178;
$light-blue-900: #254a5c;

$blue-50: #e7eaee;
$blue-100: #b5bdcb;
$blue-200: #919db2;
$blue-300: #5e708e;
$blue-400: #3f5479;
$blue-500: #0f2957;
$blue-600: #0e254f;
$blue-700: #0b1d3e;
$blue-800: #081730;
$blue-900: #061125;

$grey-50: #fdfdfb;
$grey-100: #f8f8f4;
$grey-200: #f4f4ee;
$grey-300: #efefe7;
$grey-400: #ecece2;
$grey-500: #e7e7db;
$grey-600: #d2d2c7;
$grey-700: #a4a49b;
$grey-800: #7f7f78;
$grey-900: #61615c;
