$light-gray: #A4A49B;
$light-blue-50: #EEF7FB;
$main-white: #FFFFFF;
$blue-900: #061125;
$yellow-500: #FFEF43;
$grey-50: #FDFDFB;
$light-blue-200: #B2DBEE;
$yellow-300: #FFF481;
$border-blue: #A8DAFF;
$main-black: #000000;
$scrollbar-grey: #ECECEC;
$scroll-line-grey: #FDFDFDC9;
