$light-gray: #a4a49b;
$light-blue-50: #eef7fb;
$main-white: #ffffff;
$blue-900: #061125;
$yellow-500: #ffef43;
$grey-50: #fdfdfb;
$light-blue-200: #b2dbee;
$yellow-300: #fff481;
$border-blue: #a8daff;
$main-black: #000000;
$scrollbar-grey: #ececec;
$scroll-line-grey: #fdfdfdc9;
$header-background-grey: #fdfdfb80;
$link-hover-blue: #5e708e;
$link-pressed-blue: #b5bdcb;