@import '../../../../assets/sass/variables/variables.colors';
@import '../../../../assets/sass/variables/variables.fonts';

.faq-item {
    width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-bottom: 1.5px solid $grey-400;

    .faq-question {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .button-icons {
            position: relative;

            .faq-open,
            .faq-close {
                position: absolute;
                left: 50%;
                transform: translate(-100%, 15%);
                color: $blue-900;
            }

            .faq-close {
                display: none;
            }
        }

        p {
            font-family: $mulish-regular-font;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.75rem;
            letter-spacing: -0.02em;
            vertical-align: middle;
            color: $blue-900;
        }
    }

    .faq-answer {
        font-family: $mulish-regular-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: -0.02em;
        vertical-align: middle;
    }

    &[open] {
        gap: 1.5rem;
        padding-bottom: 2rem;

        .faq-open {
            display: none;
        }

        .faq-close {
            display: inline !important;
        }
    }

    &:hover {
        p {
            color: $light-blue-600;
        }
    }
}
