@use '../../../assets/sass/variables/colors';

.textarea-with-limit {
    display: inline-block;
    width: 100%;

    .textarea-wrapper {
        display: flex;
        padding: 0.625rem;
        background: white;
        border: 1px solid colors.$blue-500;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(colors.$blue-900, 0.051);
        color: colors.$blue-900;
        font-size: 16px;

        &-focused {
            border-color: colors.$grey-700;
        }

        &-disabled {
            background-color: colors.$grey-600;
            border-color: colors.$grey-900;
        }

        .textarea-input {
            flex: 1;
            padding: 0;
            min-height: 5rem;
            border: none;
            outline: none;
            resize: none;
            background: none;
            color: colors.$grey-900;
            font-family: inherit;
            font-size: 16px;

            &::placeholder {
                color: colors.$grey-700;
            }

            &:disabled {
                background-color: transparent;
            }
        }
    }

    .character-limit {
        margin-top: 0.25rem;
        color: colors.$grey-900;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
        white-space: nowrap;
    }
}
