@import '../../../assets/sass/variables/variables.colors';

.textarea-with-limit {
    display: inline-block;
    width: 100%;

    .textarea-wrapper {
        display: flex;
        padding: 10px;
        background: white;
        border: 1px solid $blue-500;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 #0a0d120d;
        color: #041128;
        font-size: 16px;

        &-focused {
            border-color: $grey-700;
        }

        &-disabled {
            background-color: $grey-600;
            border-color: $grey-900;
        }

        .textarea-input {
            flex: 1;
            padding: 0;
            min-height: 80px;
            border: none;
            outline: none;
            resize: none;
            background: none;
            color: #414651;
            font-family: inherit;
            font-size: 16px;

            &::placeholder {
                color: $grey-700;
            }

            &:disabled {
                background-color: transparent;
            }
        }
    }

    .character-limit {
        margin-top: 4px;
        color: #717680;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
        white-space: nowrap;
    }
}
