@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/z-index';

.select {
    position: relative;
    display: flex;
    cursor: pointer;

    &-disabled {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;

        .select-head {
            cursor: not-allowed;
            background-color: colors.$select-disabled-bg;
            border-color: colors.$select-disabled-border;
        }
    }

    &-closed {
        span {
            &.empty {
                color: colors.$grey-900;
            }

            &.not-empty {
                color: colors.$blue-900;
            }
        }
    }

    &-head {
        border: 1px solid colors.$blue-500;
        background-color: white;
        padding: 4px 1rem;
        justify-content: space-between;
        display: flex;
        align-items: center;
        min-height: 2.5rem;
        height: auto;
        width: 181px;
        cursor: pointer;
        text-align: start;
        font-size: 16px;

        span {
            white-space: normal;
            word-break: break-word;
        }

        &:hover {
            background-color: colors.$blue-50;
        }
    }

    &-options {
        display: block;
        position: absolute;
        top: 2.5rem;
        width: 100%;
        border: 1px solid colors.$blue-500;
        background-color: white;
        z-index: z-index.admin(select);

        button {
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 8px 1rem;
            min-height: 2.5rem;
            height: auto;
            cursor: pointer;
            border: none;
            width: 100%;
            text-align: start;
            font-size: 16px;

            span {
                white-space: normal;
                word-break: break-word;
            }

            &:hover {
                background-color: colors.$blue-50;
            }
        }

        &-selected {
            span {
                color: colors.$blue-900;
                border-bottom: 1px solid black;
            }
        }
    }
}
