@import '../../../assets/sass/variables/variables.colors';

.select {
    position: relative;
    width: 11.1875rem;
    height: 2.5rem;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    border: 1px solid $blue-500;
    background-color: white;
    cursor: pointer;

    &-opened {
        justify-content: space-between;
    }

    &-closed {
        justify-content: space-between;

        span {
            &.empty {
                color: $grey-900;
            }

            &.not-empty {
                color: $blue-900;
            }
        }
    }

    &-options {
        display: block;
        position: absolute;
        top: 2.625rem;
        left: -0.0625rem;
        width: 100%;
        border: 1px solid $blue-500;
        background-color: white;
        z-index: 10;

        button {
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 2.5rem;
            cursor: pointer;
            border: none;
            width: 100%;
            text-align: start;
            font-size: 16px;

            &:hover {
                background-color: $blue-50;
            }
        }

        &-selected {
            span {
                color: $blue-900;
                border-bottom: 1px solid black;
            }
        }
    }
}
