@use '../../../../../../assets/sass/variables/colors.scss';

.support-option {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &-fields {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        &-name {
            input {
                font-size: 1.5rem;
                font-weight: 600;
                height: 4rem;

                &::placeholder {
                    color: colors.$blue-900;
                }
            }
        }
    }

    &-actions {
        display: flex;
        gap: 3.125rem;

        button {
            width: 100%;
            height: 2.5rem;

            &:disabled {
                background-color: colors.$grey-700;
            }
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;

        &-title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &-actions {
            display: flex;
            gap: 0.5rem;
        }

        &.editable {
            justify-content: flex-end;
        }
    }
}
