.container {
    padding: 0;
}

.top-section {
    width: 100%;
}

.image-wrapper {
    aspect-ratio: 1330 / 680;
    width: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}
