@import '../../../../assets/sass/variables/variables.colors';
@import '../../../../assets/sass/variables/variables.fonts';

* {
    margin: 0;
    box-sizing: border-box;
}
.intro-section {
    padding-top: 14.5rem;
    padding-bottom: 8.875rem;
    display: flex;
    flex-direction: column;
    gap: 8.25rem;
    justify-content: center;
    align-items: center;

    h1 {
        width: 68.875rem;
        height: 21rem;
        font-family: $mulish-regular-font;
        font-weight: 500;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;
    }

    span {
        font-family: $mulish-regular-font;
        font-weight: 800;
        font-style: italic;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        background: antiquewhite;
    }

    span:nth-child(1) {
        background: $yellow-400;
        position: relative;
    }

    span:nth-child(1):before {
        content: '';
        width: 100vw;
        height: 7rem;
        background: $yellow-400;
        position: absolute;
        transform: translateX(-100%);
    }

    span:nth-child(2) {
        background: $light-blue-200;
        position: relative;
        z-index: 1;
    }

    span:nth-child(2):before {
        content: '';
        width: 48.65vw;
        height: 7rem;
        background: $light-blue-200;
        position: absolute;
        z-index: -1;
    }

    .additional-info {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        font-family: $mulish-regular-font;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: -0.02em;
        vertical-align: middle;

        p:nth-child(1) {
            width: 26.9rem;
        }

        p:nth-child(2) {
            width: 27rem;
        }
    }
}
