.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.toolbar-search {
    width: 38.75rem;
    flex: 0 0 38.75rem;
    min-width: 0;
}

.toolbar-actions {
    display: flex;
    gap: 1.25rem;
    flex-shrink: 0;
}
