@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;

    :global(.char-limit-input-wrapper) {
        width: 100%;
    }

    :global(.char-limit-input) {
        width: 100%;
        height: 50px;
        border: 1px solid c.$grey-700;
        border-radius: 8px;
        padding: 10px;
        background: c.$white;
        filter: drop-shadow(0 1px 2px rgba(c.$bluish-black, 0.05));
    }

    :global(.char-limit-input:has(.char-limit-input__field[aria-invalid='true'])) {
        border-color: c.$error;
    }
}

.label {
    @include type.body-2-regular;
    color: c.$grey-900;
    display: inline-flex;
    gap: 2px;
}

.required {
    color: c.$error;
}

.input {
    @include type.body-2-medium;
    width: 100%;
    border: none;
    padding: 0;
    color: c.$grey-900;
    background: transparent;
}

.select {
    width: 100%;

    :global(.select) {
        width: 100%;
    }

    :global(.select-head) {
        width: 100%;
        height: 50px;
        border: 1px solid c.$grey-700;
        border-radius: 8px;
        padding: 10px;
        color: c.$grey-900;
        background: c.$white;
        filter: drop-shadow(0 1px 2px rgba(c.$bluish-black, 0.05));
    }

    :global(.select-options) {
        min-width: 100%;
    }
}

.select-option {
    @include type.body-2-regular;
}

.disabled-select-placeholder {
    @include type.body-2-regular;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid c.$grey-700;
    border-radius: 8px;
    padding: 10px;
    color: c.$grey-800;
    background-color: c.$grey-600;
    cursor: not-allowed;
    filter: drop-shadow(0 1px 2px rgba(c.$bluish-black, 0.05));
}

.error {
    @include type.small-text-regular;
    margin: 0;
    color: c.$error;
}

.amount-usd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.exchange-rate-chip {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.exchange-rate-chip-label {
    @include type.small-text-medium;
    color: c.$grey-900;
}

.exchange-rate-value {
    @include type.body-2-medium;
    width: 119px;
    height: 32px;
    border: 1px solid c.$bluish-black;
    border-radius: 8px;
    text-align: center;
    background: c.$grey-600;
    color: c.$blue-900;
    padding: 6px 12px;
}

.info {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.info-icon {
    width: 18px;
    height: 18px;

    path {
        stroke: c.$blue-500;
    }
}

.info-text {
    @include type.small-text-medium;
    margin: 0;
    color: c.$blue-500;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .amount-usd-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
