@import '../../../assets/sass/variables/colors';

.input-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.625rem;
    border: 1px solid $blue-500;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba($box-shadow-blue, 0.051);
    font-size: 16px;

    &-focused {
        border-color: $grey-700;
    }

    &-disabled {
        background-color: $grey-600;
        border-color: $grey-900;
    }

    &-input {
        flex: 1;
        padding: 0;
        border: none;
        outline: none;
        background: none;

        color: $bluish-grey-50;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &-character-limit {
        white-space: nowrap;
        color: $bluish-grey-100;
    }
}
