.team-page-container {
  width: 93%;
  margin: auto;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;

  h1,
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 16px;
    max-width: 600px;
  }

  .team-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 98%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5rem;
    margin-bottom: 3rem;

  }

  .team-section.last-section {
    border-bottom: none;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }

  .team_info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }

  .team_description {
    font-family: 'Mulish', sans-serif;
    width: 35rem;
    flex-shrink: 0;

    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      width: 28rem;
    }
  }

  .team-member {
    width: 17rem;
  }

  .team-member img {
    width: 100%;
  }

  .member-name {
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .member-role {
    font-weight: 400;
    color: #7F7F78;
    margin-top: 0.25rem;
  }

  .video-background-container {
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 100px;
    width: 110vw;
    height: 70vh;
    overflow: hidden;
  }

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 110vw;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }

  .quote-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 70%;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    padding: 5rem;
    text-align: left;

    .video-text {
      margin: 0 0 0.3rem;
    }
  }

  .author {
    margin-top: 2rem;
    font-weight: 700;
  }
}
