@use '../../../../../../assets/sass/variables/colors';

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.error {
    color: colors.$error;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
}

.desc-error {
    position: absolute;
    bottom: 0px;
}
