@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.square {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.label {
    @include type.small-text-regular;
}

.square[data-level='0'] {
    background: c.$light-blue-300;
}
.square[data-level='1'] {
    background: c.$light-blue-200;
}
.square[data-level='2'] {
    background: c.$light-blue-100;
}
.square[data-level='3'] {
    background: c.$light-blue-50;
}
