@use '../variables/variables.fonts' as ft;

@mixin font-face($font-family, $file-name, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: #{$font-family};
        src:
            url('../../fonts/#{$file-name}.woff2') format('woff2'),
            url('../../fonts/#{$file-name}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
    }
}

@mixin link-base($color, $hoverColor, $activeColor) {
    color: $color;
    text-decoration: none;
    pointer-events: none;
    opacity: 0.3;
    font-family: ft.$mulish-regular-font;

    &:hover {
        color: $hoverColor;
    }

    &:active {
        color: $activeColor;
    }
}

@mixin link-active(){
    opacity: 1;
    pointer-events: auto;
}
