@use '../../../../../assets/sass/variables/colors';

.partner-sections-editor__error-text {
    color: colors.$error;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-button {
        background: none;
        border: none;
        cursor: pointer;
        color: colors.$blue-500;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        text-decoration: underline;
    }
}
