@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.td-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    @media (min-width: 1440px) {
        max-width: 100%;

        &.td-cards--dual > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }

        &.td-cards--triple > .td-card {
            flex: 1 1 calc((100% - 32px) / 3);
            min-width: 0;
        }

        &.td-cards--quad > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }
    }

    &--editable {
        gap: 16px;
        max-width: 100%;

        &.td-cards--dual > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }

        &.td-cards--triple > .td-card {
            flex: 1 1 calc((100% - 32px) / 3);
            min-width: 0;
        }

        &.td-cards--quad > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }
    }

    &--template {
        pointer-events: none;
        gap: 16px;
        max-width: 100%;
        > .td-card {
            gap: 8px;
        }

        &.td-cards--dual > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }

        &.td-cards--triple > .td-card {
            flex: 1 1 calc((100% - 32px) / 3);
            min-width: 0;
        }

        &.td-cards--quad > .td-card {
            flex: 1 1 calc((100% - 16px) / 2);
            min-width: 0;
        }
    }
}

.td-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 32px;
    background: c.$light-blue-50;
    border-radius: 16px;
    padding: 16px;
    min-height: 200px;
    max-width: 600px;
    width: 100%;

    &--editable {
        padding: 36px;
        gap: 18px;
    }
}

.title {
    @include type.subtitle-2-bold;

    &--template {
        padding-top: 10px;
        font-size: clamp(8px, 0.76vw, 12px);
        line-height: clamp(10px, 0.9vw, 16px);
    }
}

.title-field {
    margin-bottom: 16px;
    width: 100%;

    input {
        @include type.subtitle-2-bold;

        font-size: 16px;
        width: 100%;

        &::placeholder {
            opacity: 0.7;
        }
    }
}

.description-field {
    width: 100%;

    textarea {
        @include type.body-1-regular;
        font-size: 16px;
        min-height: 160px;
        width: 100%;
    }
}

.description {
    @include type.body-1-regular;
    white-space: pre-wrap;

    &--template {
        font-size: clamp(6px, 0.64vw, 10px);
        line-height: clamp(8px, 0.8vw, 16px);
    }
}

.description-list {
    list-style: none;
    padding-left: 5px;
    margin: 0;

    li {
        padding-left: 11px;
        position: relative;

        &::before {
            content: '•';
            position: absolute;
            left: 0;
        }
    }
}
