.photo-input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 152px;
    padding: 16px;
    border: 1px solid #a4a49b;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 1px 0 0 #00000040;

    &-focused {
        background-color: #e7eaee;
        border-color: #d5d7dacc;
    }

    &-disabled {
        background-color: #d2d2c7;
    }

    .photo-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 0;
        border: 1px dashed #61615c;
        border-radius: 4px;
        background: none;
        color: #61615c;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-align: center;

        .placeholder-icon {
            width: 24px;
            height: 24px;
        }
    }

    .photo-preview {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;

        .preview-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .delete-button {
            position: absolute;
            inset: 0;
            display: none;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            padding: 10px;
            margin: auto;
            border-radius: 8px;
            background: #61615c;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            .delete-icon {
                width: 16px;
                height: 16px;
                filter: brightness(0) invert(1);
            }
        }

        &:hover .delete-button {
            display: flex;
        }
    }
}
