@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.social-media-tab-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 660px;
    max-width: 660px;
}

.social-media-tab-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.social-media-tab-title {
    @include type.h4-semibold;
    color: c.$blue-900;
    margin: 0;
}

.social-media-tab-add {
    width: 248px;
}

.social-media-tab-limit-message {
    margin-top: 6px;
    @include type.small-text-regular;
    color: c.$error;
}

.social-media-tab-contacts {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.social-media-contact {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.social-media-contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-right: 32px;
}

.social-media-contact-label {
    display: flex;
    align-items: center;
    gap: 4px;
    @include type.small-text-medium;
    color: c.$grey-700;
}

.social-media-contact-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-media-contact-icon-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
}

.social-media-tab-add :global(.singleselect) {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: c.$blue-500;
}

.social-media-tab-add :global(.singleselect-selected) {
    background-color: c.$blue-600;
}

.social-media-tab-add :global(.select-input) {
    background-color: transparent;
    border-radius: 0;
    color: c.$white;
}

.social-media-tab-add :global(.select-input:not(.select-input-disabled):hover) {
    background-color: c.$blue-600;
}

.social-media-tab-add :global(.select-input-disabled),
.social-media-tab-add :global(.select-input-disabled:hover) {
    background-color: c.$grey-600;
    color: c.$grey-400;
    cursor: not-allowed;
}

.social-media-tab-add :global(.singleselect-options) {
    border-radius: 0;
    border-color: c.$blue-600;
    background-color: c.$white;
}

.social-media-tab-add :global(.option) {
    background-color: c.$white;
    color: c.$dropdown-text;
}

.social-media-tab-add :global(.option:hover),
.social-media-tab-add :global(.option-selected),
.social-media-tab-add :global(.option-selected:hover) {
    background-color: c.$dropdown-hover;
}

.social-media-tab-add :global(.option-selected),
.social-media-tab-add :global(.option-selected:hover) {
    background-color: c.$dropdown-hover;
}

.social-media-tab-add :global(.option-value),
.social-media-tab-add :global(.option-value-placeholder) {
    color: inherit;
}

.social-media-tab-add :global(.placeholder-arrow .icon-img) {
    fill: currentColor;
    color: inherit;

    path {
        stroke: currentColor;
        fill: currentColor;
    }
}
