@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/typography';

.social-media-tab-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 660px;
    max-width: 660px;

    .social-media-tab-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
    }

    .social-media-tab-title {
        margin: 0;
    }

    .social-media-tab-title {
        font-family: typography.$font-family-base;
        font-size: typography.$h4-size;
        line-height: typography.$h4-height;
        letter-spacing: typography.$h4-spacing;
        font-weight: typography.$fw-semibold;
        color: colors.$blue-900;
        margin: 0;
    }

    .social-media-tab-add {
        width: 280px;
    }

    .social-media-tab-limit-message {
        margin-top: 6px;
        font-family: typography.$font-family-base;
        font-size: typography.$small-size;
        line-height: typography.$small-height;
        color: colors.$error;
    }

    .social-media-tab-contacts {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

     .social-media-contact {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
        }

        &__label {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: typography.$font-family-base;
            font-size: typography.$small-size;
            line-height: typography.$small-height;
            letter-spacing: typography.$small-spacing;
            font-weight: typography.$fw-medium;
            color: #374151;
        }

        &__required {
            color: colors.$error;
        }

        &__actions {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &__icon-btn {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;

            svg {
                width: 29px;
                height: 29px;
            }
        }

        &__icon-placeholder {
            font-size: 12px;
            color: colors.$grey-700;
        }
    }
}
