@use '@/assets/sass/variables/colors' as c;

.loadable-content {
    &-loader {
        width: 70%;
        position: relative;
        margin: 8rem auto 4rem;
    }

    &-error-message {
        color: c.$error;
        text-align: center;
        margin-top: 8rem;
    }
}
