@use '@/assets/sass/variables/colors';

.faq-search-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 0.25rem 0.5rem;
}

.faq-search-item__name {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.faq-search-item__name {
    font-size: 1rem;
    font-weight: 500;
}

.faq-search-item-tooltip__name {
    display: block;
    width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: normal;
}

.faq-search-item-tooltip__name {
    font-size: 1rem;
    font-weight: 500;
}
