@use '../../../assets/sass/variables/colors';

.button-tooltip-wrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;

    &:hover,
    &:focus {
        background-color: colors.$blue-50;
    }
}

.button-tooltip-icon {
    width: 1.5rem;
    height: 1.5rem;
}
