@use '@/assets/sass/variables/colors' as c;

.partners-page {
    &-loader {
        width: 70%;
        position: relative;
        margin: 8rem auto 4rem;
    }

    &-error-message {
        color: c.$error;
        text-align: center;
        margin-top: 8rem;
    }
}
.partners-content-sections{
    padding: 0 3.5rem 3.5rem 3.5rem;
}
