@use '../../../../../assets/sass/variables/colors';

.root {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.error {
    color: colors.$error;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
}

.desc-error {
    position: absolute;
    bottom: 0;
}

:global(.input-label) {
    margin-bottom: 6px;
}

:global(.char-limit-textarea__wrapper)
{
    height: 8rem;
}