.program-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menu-block {
        width: 100%;
        padding: 0 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        .button-block {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            .white-button {
                border-radius: 1.5rem;
                padding: 0.5rem 1rem;
                border: 1px solid #b5bdcb;
                background: none;
                font-family: Mulish, sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02em;
                vertical-align: middle;
                transition: 0.3s ease;

                &:hover {
                    background: #e7eaee;
                    transition: 0.3s ease;
                }
            }

            .black-button {
                background: #061125;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                border: 1px solid #061125;
                font-family: Mulish, sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02rem;
                vertical-align: middle;
                color: #fdfdfb;
            }
        }
    }

    .menu-block h2 {
        font-family: Mulish, sans-serif;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.02em;
        vertical-align: middle;
    }

    .cards-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
