@use '@/assets/sass/variables/colors' as c;
@use './ImageInput.module.scss' as base;

.container {
    @extend %container;
    width: 9.125rem;
    height: 9.5rem;
    padding: 1rem;
    border: 1px solid c.$grey-700;
    border-radius: 8px;
    background: white;
    box-shadow: 0 1px 0 0 rgba(black, 0.25);

    &-focused {
        background-color: c.$blue-50;
        border-color: rgba(c.$grey-900, 0.8);
    }

    &-disabled {
        background-color: c.$grey-600;
    }
}

.image-placeholder {
    @extend %image-placeholder;
    border: 1px dashed c.$grey-900;
    border-radius: 4px;
    color: c.$grey-900;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.placeholder-icon {
    @extend %placeholder-icon;
    width: 1.5rem;
    height: 1.5rem;
}

.placeholder-text-primary {
    @extend %placeholder-text-primary;
}

.placeholder-text-secondary {
    @extend %placeholder-text-secondary;
}

.image-preview {
    @extend %image-preview;
    @extend %image-preview-hover;
}

.preview-image {
    @extend %preview-image;
    object-fit: contain;
    object-position: center;
}

.preview-actions {
    @extend %preview-actions;
}

.delete-button,
.crop-button {
    @extend %delete-button;
    width: 2.75rem;
    height: 2.75rem;
}

.delete-icon,
.crop-icon {
    @extend %delete-icon;
    width: 1rem;
    height: 1rem;
}
