@use '../../../assets/sass/variables/colors';

// Загальні стилі для обгортки ImageInput, які застосовуються до всіх її варіантів.
// Ці стилі служать "базою" і допомагають уникнути дублювання коду.

.who-we-are-image-input-wrapper {
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$grey-700;

    // Стилі для станів (фокус, вимкнений)
    &-focused {
        background-color: colors.$grey-700;
        border-color: rgba(colors.$grey-900, 0.8);
    }

    &-disabled {
        background-color: colors.$grey-600;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0; /* відступ від правого краю компонента */
        width: 200px; /* ширина overlay */
        height: 150px; /* або фіксовану висоту */
        background: rgba(0, 0, 0, 0.5);
        z-index: 10; /* поверх усіх інших елементів */
        border-radius: 8px;
    }

    // Стилі для елемента-заглушки, який відображається, коли немає зображення.
    .image-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        padding: 0;
        background: none;
        color: colors.$grey-900;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 28px;
        letter-spacing: -2%;

        .placeholder-icon {
            width: 4rem;
            height: 4rem;
            color: colors.$grey-700;
        }
    }

    // Стилі для елемента, який відображає завантажене зображення.
    .image-preview {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;

        .preview-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: center;
            transition: filter 0.3s ease;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: colors.$grey-50;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1;
            cursor: pointer;
        }

        &:hover::after {
            opacity: 0.78; // регулюй, наскільки сильно перекриває
        }
        .delete-button {
            position: absolute;
            inset: 0;
            display: none;
            align-items: center;
            justify-content: center;
            height: 25%;
            aspect-ratio: 1 / 1;
            padding: 0.625rem;
            margin: auto;
            border-radius: 8px;
            background: colors.$grey-900;
            opacity: 0.8;
            z-index: 2;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            .delete-icon {
                width: 55%;
                height: 55%;
                color: colors.$grey-50;
            }
        }

        &:hover .delete-button {
            display: flex;
        }
    }
}
