@use '@/assets/sass/variables/z-index.scss';
@use '@/assets/sass/variables/colors';

%container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

%image-placeholder {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0;
    background: none;
    text-align: center;
}

%placeholder-icon {
    color: colors.$grey-900;
}

%placeholder-text-primary {
    display: block;
}

%placeholder-text-secondary {
    display: block;
    margin-top: 0.25rem;
}

%image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

%preview-image {
    display: block;
    width: 100%;
    height: 100%;
}

%preview-actions {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    z-index: z-index.admin('image-input-action-buttons');
}

%delete-button,
%crop-button {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    border-radius: 8px;
    border: none;
    background: colors.$grey-900;

    &:hover {
        opacity: 1;
    }
}

%delete-icon,
%crop-icon {
    filter: brightness(0) invert(1);
    color: colors.$grey-50;
}

%image-preview-hover {
    &:hover {
        .delete-button,
        .crop-button {
            display: flex;
        }
    }
}