@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/typography';
@use './ImageInput.module.scss' as base;

.container {
    @extend %container;
    width: 100%;
    height: 100%;
    background: colors.$grey-50;
    border: 1px solid colors.$grey-700;

    &-focused {
        background-color: colors.$grey-300;
    }

    &-disabled {
        background-color: colors.$grey-500;
    }
}

.image-placeholder {
    @extend %image-placeholder;
    padding: 2rem;
}

.placeholder-icon {
    @extend %placeholder-icon;
    width: 4rem;
    height: 4rem;
    color: colors.$grey-700;
    margin-bottom: 0.5rem;
}

.placeholder-text-primary {
    @extend %placeholder-text-primary;
    font-family: typography.$font-family-base;
    font-size: typography.$body2-size;
    line-height: 28px;
    font-weight: typography.$fw-semibold;
    letter-spacing: typography.$ls-tight;
    color: colors.$blue-900;
}

.placeholder-text-secondary {
    @extend %placeholder-text-secondary;
    font-family: typography.$font-family-base;
    font-size: typography.$small-size;
    line-height: 28px;
    font-weight: typography.$fw-regular;
    letter-spacing: typography.$ls-tight;
    color: colors.$blue-900;
}

.image-preview {
    @extend %image-preview;
    @extend %image-preview-hover;
}

.preview-image {
    @extend %preview-image;
    object-fit: cover;
}

.preview-actions {
    @extend %preview-actions;
}

.delete-button {
    @extend %delete-button;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
}

.delete-icon {
    @extend %delete-icon;
    width: 1.5rem;
    height: 1.5rem;
}
