@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/typography';
@use '@/assets/sass/variables/z-index.scss';
@use './ImageInput.module.scss' as base;

.container {
    @extend %container;
    width: 100%;
    height: 100%;
    background: c.$grey-50;
    border: 1px solid c.$grey-700;

    &-focused {
        background-color: c.$grey-300;
    }

    &-disabled {
        background-color: c.$grey-500;
    }
    cursor: pointer;
}

.image-placeholder {
    @extend %image-placeholder;
    padding: 2rem;
}

.placeholder-icon {
    @extend %placeholder-icon;
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.placeholder-text-primary {
    @extend %placeholder-text-primary;
    font-family: typography.$font-family-base;
    font-size: typography.$body2-size;
    line-height: 28px;
    font-weight: typography.$fw-semibold;
    letter-spacing: typography.$ls-tight;
    color: c.$blue-900;
}

.placeholder-text-secondary {
    @extend %placeholder-text-secondary;
    font-family: typography.$font-family-base;
    font-size: typography.$small-size;
    line-height: 28px;
    font-weight: typography.$fw-regular;
    letter-spacing: typography.$ls-tight;
    color: c.$blue-900;
}

.image-preview {
    @extend %image-preview;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: c.$grey-400;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        @extend %image-preview-hover;

        &::after {
            opacity: 0.50;
        }
    }
}

.preview-image {
    @extend %preview-image;
    object-fit: cover;
}

.preview-actions {
    @extend %preview-actions;
}

.delete-button,
.crop-button {
    @extend %delete-button;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    z-index: z-index.admin('image-input-action-buttons');
}

.delete-icon,
.crop-icon {
    @extend %delete-icon;
}