@use '../../../assets/sass/variables/colors';
@use '../../../assets/sass/variables/typography';

.program-section-image-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: colors.$grey-50;
    border: 1px solid colors.$grey-700;

    &.image-input-wrapper-focused {
        background-color: colors.$grey-300;
    }

    &.image-input-wrapper-disabled {
        background-color: colors.$grey-500;
    }

    .image-placeholder {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem;
        border: none;
        background: none;
        text-align: center;

        .placeholder-icon {
            width: 4rem;
            height: 4rem;
            color: colors.$grey-700;
            margin-bottom: 0.5rem;
        }

        span {
            display: block;

            &:first-of-type {
                font-family: typography.$font-family-base;
                font-size: typography.$body2-size;
                line-height: 28px;
                font-weight: typography.$fw-semibold;
                letter-spacing: typography.$ls-tight;
                color: colors.$blue-900;
            }

            &:last-of-type {
                font-family: typography.$font-family-base;
                font-size: typography.$small-size;
                line-height: 28px;
                font-weight: typography.$fw-regular;
                letter-spacing: typography.$ls-tight;
                color: colors.$blue-900;
                margin-top: 0.25rem;
            }
        }
    }

    .image-preview {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .preview-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .delete-button {
            position: absolute;
            inset: 0;
            display: none;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            padding: 0.625rem;
            margin: auto;
            border-radius: 8px;
            border: none;
            background: colors.$grey-900;

            &:hover {
                opacity: 1;
            }

            .delete-icon {
                width: 1.5rem;
                height: 1.5rem;
                filter: brightness(0) invert(1);
                color: colors.$grey-50;
            }
        }

        &:hover .delete-button {
            display: flex;
        }
    }
}
