@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/z-index.scss';
@use './ImageInput.module.scss';

.container {
    @extend %container;
    width: auto;
    min-height: 18rem;
    max-height: 53rem;
    height: auto;
    background: white;

    &-focused {
        background-color: c.$blue-50;
        border-color: rgba(c.$grey-900, 0.8);
    }

    &-disabled {
        background-color: c.$grey-600;
    }
}

.image-placeholder {
    padding: 2rem;
    color: c.$grey-900;
}

.placeholder-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.placeholder-text-primary {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: c.$grey-900;
}

.placeholder-text-secondary {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: c.$grey-900;
}

.image-preview {
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: c.$grey-400;
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    &:hover {
        &::after {
            opacity: 0.5;
        }
    }
}

.preview-image {
    max-height: 53rem;
    object-fit: contain;
}

.delete-button,
.crop-button {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    z-index: z-index.admin('image-input-action-buttons');
    cursor: pointer;
}
