@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/z-index.scss';
@use './ImageInput.module.scss' as base;

.container {
    @extend %container;
    background-size: cover;
    background-position: center;
    border: 1px solid c.$grey-700;

    &-focused {
        background-color: c.$grey-700;
        border-color: rgba(c.$grey-900, 0.8);
    }

    &-disabled {
        background-color: c.$grey-600;
    }
}

.image-placeholder {
    @extend %image-placeholder;
    color: c.$grey-900;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02rem;
}

.placeholder-icon {
    @extend %placeholder-icon;
    width: 4rem;
    height: 4rem;
}

.placeholder-text-primary {
    @extend %placeholder-text-primary;
}

.placeholder-text-secondary {
    @extend %placeholder-text-secondary;
}

.image-preview {
    @extend %image-preview;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: c.$grey-50;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: z-index.admin('who-we-are-page-image-preview');
        cursor: pointer;
    }

    &:hover {
        @extend %image-preview-hover;

        &::after {
            opacity: 0.78;
        }
    }
}

.preview-image {
    @extend %preview-image;
    object-fit: fill;
    transition: filter 0.3s ease;
}

.preview-actions {
    @extend %preview-actions;
}

.delete-button,
.crop-button {
    @extend %delete-button;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    z-index: z-index.admin('image-input-action-buttons');
    cursor: pointer;
}

.delete-icon,
.crop-icon {
    @extend %delete-icon;
}