@use '../../../assets/sass/variables/colors';

// Загальні стилі для обгортки ImageInput, які застосовуються до всіх її варіантів.
// Ці стилі служать "базою" і допомагають уникнути дублювання коду.
.who-we-are-image-input-wrapper {
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$grey-700;

    // Стилі для станів (фокус, вимкнений)
    &-focused {
        background-color: colors.$grey-700;
        border-color: rgba(colors.$grey-900, 0.8);
    }

    &-disabled {
        background-color: colors.$grey-600;
    }

    // Стилі для елемента-заглушки, який відображається, коли немає зображення.
    .image-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        padding: 0;
        background: none;
        color: colors.$grey-900;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 28px;
        letter-spacing: -2%;

        .placeholder-icon {
            width: 4rem;
            height: 4rem;
            color: colors.$grey-700;
        }
    }

    // Стилі для елемента, який відображає завантажене зображення.
    .image-preview {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;

        .preview-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: center;
          transition: filter 0.3s ease;
        }
        &:hover .preview-image {
          filter: grayscale(80%); // робить сіруватим
        }

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: colors.$grey-50;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
        }

        &:hover::after {
          opacity: 0.78; // регулюй, наскільки сильно перекриває
        }
        .delete-button {
            position: absolute;
            inset: 0;
            display: none;
            align-items: center;
            justify-content: center;
            width: 2.75rem;
            height: 2.75rem;
            padding: 0.625rem;
            margin: auto;
            border-radius: 8px;
            background: colors.$grey-900;
            opacity: 0.8;
            z-index: 2;

            &:hover {
                opacity: 1;
            }

            .delete-icon {
                width: 0.75rem;
                height: 0.78125rem;
                color: colors.$grey-50;
            }
        }

        &:hover .delete-button {
            display: flex;
        }
    }
}
