@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/typography' as t;

$radius: 20px;
$field-width: 366px;

.card {
    width: var(--pair-card-width, 432px);
    height: var(--pair-card-height, 259px);
    background-color: c.$light-blue-50;
    border-radius: $radius;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.editable {
    padding: 20px 24px 24px 24px;
}

.description {
    font-family: t.$font-family-base;
    font-weight: t.$fw-medium;
    font-size: 18px;
    line-height: 24px;
    color: c.$blue-900;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.author {
    margin-top: auto;
    font-family: t.$font-family-base;
    font-weight: t.$fw-bold;
    font-size: 20px;
    line-height: 24px;
    color: c.$blue-900;
}

.delete-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    --icon-btn-hover-color: #{c.$blue-900};

    svg {
        width: 18px;
        height: 18.75px;
    }
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
}

.description-field,
.author-field {
    width: $field-width;
}

.author-field {
    margin-top: auto;
    margin-bottom: 30px;
}

.description-input-group {
    width: $field-width;

    :global(textarea) {
        width: $field-width;
        height: 76px;
        resize: none;
        overflow: hidden;
    }

    :global(output[id$='-character-count']) {
        display: block;
        width: 100%;
        text-align: right;
        color: c.$grey-700;
        transform: translateY(-6px);
    }
}

.author-input-group {
    width: $field-width;

    :global(.char-limit-input) {
        width: $field-width;
        height: 48px;
        box-shadow: none;
        position: relative;
        overflow: visible;
    }

    :global(.char-limit-input__field) {
        font-family: t.$font-family-base;
        font-weight: t.$fw-bold;
        font-size: 20px;
        line-height: 24px;
        color: c.$blue-900;
    }

    :global(.char-limit-input__field::placeholder) {
        font-family: t.$font-family-base;
        font-weight: t.$fw-bold;
        font-size: 20px;
        line-height: 24px;
        color: c.$blue-900;
        opacity: 1;
    }

    :global(.char-limit-input__counter),
    :global(output[id$='-character-count']) {
        position: absolute;
        right: 0;
        bottom: -22px;
        color: c.$grey-700;
    }
}
