@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0.5rem 0;

    &.has-generate-button {
        justify-content: flex-start;
    }
}

.language-select {
    width: 150px;
}

.language-select-head {
    display: inline-flex;
    align-items: center;

    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;

    justify-content: center;

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 4px;
        background-image: url('../../../assets/icons/globe.svg');
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
    }
}

.generate-button {
    position: absolute;
    right: 0;
    width: 45%;
    font-size: 16px;

    &.disable {
        visibility: hidden;
    }
}
