@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/fonts';

.members {
    &-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &-profile {
        display: flex;
        gap: 1rem;
        width: 33%;
        align-items: center;
        height: 100%;

        .member-icon,
        img {
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 100%;
            margin: 0.25rem;
        }

        p {
            width: 60%;
            margin: 0;
            display: -webkit-box;
            font-size: 18px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
        }
    }

    &-position {
        text-align: start;
        width: 33%;

        p {
            font-size: 18px;
            padding-right: 2.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }

    &-actions {
        width: 12.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: end;
        gap: 0.625rem;

        button {
            border: none;
        }

        &-edit {
            width: 1.5rem;
            height: 1.5rem;
            background: url('~@/assets/icons/edit.svg');

            &:hover {
                cursor: pointer;
                background: url('~@/assets/icons/edit-grey.svg');
            }

            &:active {
                background: url('~@/assets/icons/edit-filled.svg');
            }
        }

        &-delete {
            width: 1.5rem;
            height: 1.5rem;
            background: url('~@/assets/icons/delete.svg');

            &:hover {
                cursor: pointer;
                background: url('~@/assets/icons/delete-grey.svg');
            }

            &:active {
                background: url('~@/assets/icons/delete-filled.svg');
            }
        }
    }
}
