@use '../../../../../assets/sass/variables/colors';
@use '../../../../../assets/sass/variables/fonts';

.members {
    &-item {
        display: flex;
        align-items: center;
        padding: 1.875rem;
        width: 100%;
    }

    &-profile {
        display: flex;
        gap: 1rem;
        width: 33%;
        align-items: center;

		  .member-icon,
        img {
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 100%;
            margin: 0.25rem;
        }

        p {
            margin: 0;
            display: -webkit-box;
            font-size: 18px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
        }
    }

    &-position {
        text-align: start;
        width: 33%;

        p {
            font-size: 18px;
            padding-right: 2.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 33%;
    }

    &-status {
        display: flex;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        border-radius: 30px;
        font-size: 18px;

        &-draft {
            color: colors.$grey-900;
            background-color: white;
            border: 1px solid colors.$grey-900;
        }

        &-published {
            background-color: colors.$light-blue-50;
            border: 1px solid colors.$blue-500;
            color: colors.$blue-500;
        }

        img {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            right: 0.75rem;
            top: 25%;
            z-index: 1;
            pointer-events: none;
        }
    }

    &-actions {
        width: 12.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: end;
        gap: 0.125rem;

        button {
            border: none;
        }

        .member-image {
            &:hover {
                cursor: pointer;
            }
        }

        &-edit {
            width: 1.5rem;
            height: 1.5rem;
            background: url('../../../../../assets/icons/edit.svg');

            &:hover {
                cursor: pointer;
            }

            &:active {
                background: url('../../../../../assets/icons/edit-filled.svg');
            }
        }

        &-delete {
            width: 1.5rem;
            height: 1.5rem;
            background: url('../../../../../assets/icons/delete.svg');

            &:hover {
                cursor: pointer;
            }

            &:active {
                background: url('../../../../../assets/icons/delete-filled.svg');
            }
        }
    }
}
