@import '../BaseSectionTemplate.module.scss';

.container {
    @extend .template-container;
}

.topSection {
    flex: 1 1 50%;
    min-height: 0;
}

.bottomSection {
    flex: 1 1 50%;
    min-height: 0;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.imagesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    align-items: end;
}

.imageWrapper {
    width: 100%;
}

.elevated {
    transform: translateY(-2rem);
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.2;
}
