@use '@/assets/sass/mixins/typography.mixins' as type;
@import '../shared/BaseSectionTemplate.module.scss';

.container {
    @extend .section-container;
    aspect-ratio: 1440 / 736;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px 0;
}

.left-section {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 5%;
}

.title-section {
    display: flex;
    align-items: start;
    width: 100%;
    > div {
        flex: 1;
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
}

.description-section {
    display: flex;
    align-items: start;
    > div {
        flex: 1;
    }
}

.description {
    color: #333;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.right-section {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    height: 100%;
}

.image {
    height: 100%;
    width: auto;
    object-fit: cover;
    aspect-ratio: 700 / 600;
}
