@use '../../../../assets/sass/variables/colors';
@use '../../../../assets/sass/variables/fonts';
@use '../../../../assets/sass/variables/z-index';

.support-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 6.25rem;
    width: 100%;
    height: auto;
    padding-bottom: 1.875rem;
    color: colors.$blue-900;

    .swiper {
        width: 100%;
    }

    .main-values-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 3.5rem;

        h2 {
            font-family: fonts.$mulish-regular-font;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }

    .support-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;

        &.card-1 {
            margin-top: 7.75rem;
        }

        &.card-2 {
            margin-top: 17.75rem;
        }

        &.card-3 {
            margin-top: 0.75rem;
        }

        img {
            width: 100%;
            height: 26.9rem;
            object-fit: cover;
        }

        .support-description {
            font-family: fonts.$mulish-regular-font;
            padding: 0 1rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: -0.02em;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: z-index.$scrollable-frame-arrows;
        padding: 0 2rem;
        transition: opacity 2s ease;
        opacity: 0;

        .arrow-button {
            background-color: colors.$blue-900;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            transition: all 0.4s ease;
            cursor: pointer;

            .arrow-icon {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;

                path {
                    stroke: colors.$grey-50;
                }
            }

            &:hover {
                background-color: colors.$yellow-500;

                .arrow-icon path {
                    stroke: colors.$blue-900;
                }
            }

            &:disabled {
                display: none;
            }
        }

        .arrow-left {
            left: 1.75rem;
        }

        .arrow-right {
            right: 1.75rem;
        }
    }
}

.support-block:hover .button-container {
    opacity: 1;
    transition: opacity 1s ease;
}

@media (max-width: 1024px) {
    .support-block {
        width: 100%;
        padding-top: 3.75rem;
        padding-bottom: 0rem;

        .main-values-title {
            padding: 0 3.5rem;
            width: 657px;

            h2 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }

        .support-columns {
            display: flex;
            width: 100%;

            .support-col {
                width: 50%;

                .support-card {
                    gap: 0.5rem;

                    img {
                        height: 26.875rem;
                    }

                    &.card-1 {
                        margin-top: 5.625rem;
                    }

                    &.card-2 {
                        margin-top: 23.3125rem;
                    }

                    &.card-3 {
                        margin-top: 8.0625rem;
                    }

                    .support-description {
                        padding: 0 1rem;
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                    }
                }
            }
        }

        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .support-block {
        padding-top: 3.75rem;
        padding-bottom: 0rem;

        .main-values-title {
            padding: 0 4rem;
            width: auto;

            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        .support-columns {
            .support-col {
                .support-card {
                    gap: 0.5rem;

                    img {
                        height: 22.5rem;
                    }

                    &.card-1 {
                        margin-top: 5.625rem;
                    }

                    &.card-2 {
                        margin-top: 5.625rem;
                    }

                    .support-description {
                        padding: 0 1rem;
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }
            }

            .right {
                margin-top: 14.313rem;
            }
        }

        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 568px) {
    .support-block {
        padding-top: 6.125rem;
        padding-bottom: 0rem;

        .swiper {
            width: 100%;
        }

        .main-values-title {
            padding: 0 1rem;
            width: auto;

            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        .support-card {
            gap: 0.5rem;

            &.card-1 {
                margin-top: 4.5rem;
            }

            &.card-2 {
                margin-top: 16.5rem;
            }

            &.card-3 {
                margin-top: 9.5rem;
            }

            img {
                width: 100%;
                height: 24.125rem;
                object-fit: cover;
            }

            .support-description {
                padding: 0 1rem;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .button-container {
            .arrow-left {
                left: 0.25rem;
            }

            .arrow-right {
                right: 0.25rem;
            }
        }
    }
}
