@import '../../assets/sass/variables/variables.colors';
@import '../../assets/sass/mixins/utilits.mixins';

$mulish-font-family: 'Mulish', sans-serif;

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: 4rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    box-sizing: border-box;

    background-color: $header-background-grey;

    backdrop-filter: blur(10.375rem);

    .logoContainer {
        .logo {
            user-select: none;
            cursor: pointer;
        }
    }

    .linkContainer {
        nav {
            display: flex;
            gap: 3rem;

            a {
                @include link-base(#000, $link-hover-blue, $link-pressed-blue);
                font-weight: 600;

                &.disable {
                    @include link-disabled();
                }
            }
        }
    }

    .buttonContainer {
        display: flex;
        gap: 0.5rem;

        .contactUsButton {
            background-color: transparent;
            width: 8.2em;
            height: 2.5rem;
            font-family: $mulish-font-family;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            border: 1px solid $blue-900;
        }
        .donateButton {
            background-color: $blue-900;
            color: white;
            font-family: $mulish-font-family;
            font-size: 1rem;
            width: 7.5rem;
            height: 2.5rem;
            cursor: pointer;
            border: 1px solid $blue-900;
        }
    }
}
