@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.history-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.empty-sections-image {
    width: 14.375rem;
    height: 14.375rem;
}

.empty-sections-text {
    @include type.h3-semibold;
    
    width: 29.375rem;
    color: c.$blue-900;
    margin: 0;
    text-align: center;
}

.empty-sections-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 10rem 2rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
}

.btn-add {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 29.375rem;
}

.plus-icon path {
    stroke: c.$blue-500;
}

.sections-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}