.error-container {
    width: 100%;
    margin: 8px;
    text-align: center;
    color: #f04438;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.w-100 {
    width: 100% !important;
}
