.container {
    display: flex;
    width: auto;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
}

.template {
    padding: 2vw 6vw 0vw 6vw;
}

.form-container {
    justify-content: center;
    overflow: visible;
}

.title-template {
    font-size: clamp(3px, 2vw, 3.5vmin);
    line-height: clamp(3px, 1.3vw, 3.5vmin);
}

.description-template {
    font-size: clamp(3px, 1vw, 2vmin);
    line-height: clamp(3px, 1.2vw, 2vmin);
}
