@use '@/assets/sass/variables/colors';

.confirmation-btn {
    &.btn-primary {
        &:hover {
            background-color: colors.$blue-500;
            color: colors.$grey-50;

            svg path {
                stroke: colors.$grey-50;
            }
        }

        &:active {
            background-color: colors.$blue-900;
            color: colors.$grey-50;

            svg path {
                stroke: colors.$grey-50;
            }
        }
    }

    &.btn-secondary {
        &:hover {
            color: colors.$blue-900;
            border-color: colors.$blue-500;
        }

        &:active {
            background-color: colors.$blue-50;
        }
    }
}

.confirmation-modal {
    max-width: 500px;
    padding: 30px 24px;
    
    .modal-header {
        margin-bottom: 24px;
        
        .modal-title-wrapper {
            margin-top: 16px;
        }
    }
    
    .modal-body {
        text-align: center;
        margin-bottom: 32px;
    }
    
    .modal-footer {
        display: flex;
        justify-content: center;
        gap: 24px;
        
        button {
            width: 50%;
            max-width: 200px;
        }
    }
}
