@use '../../../../assets/sass/variables/colors';
@use '../../../../assets/sass/variables/fonts';

.values-block * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.values-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 66.6rem;
    width: 100%;

    .swiper {
        width: 100%;
    }

    .values-title {
        width: 100%;
        display: flex;
        position: absolute;
        left: 4rem;
        top: 3.5rem;

        h2 {
            font-family: fonts.$mulish-regular-font;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
        }
    }

    .value-card {
        position: absolute;
        background-color: colors.$light-blue-50;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        .value-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
            width: 85%;

            .value-name {
                width: 100%;
                font-family: fonts.$mulish-regular-font;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2.25rem;
                letter-spacing: -0.02em;
                border-bottom: 2px solid white;
                padding-bottom: 0.25rem;
            }

            .value-description {
                font-family: fonts.$mulish-regular-font;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02em;
                color: colors.$blue-900;
            }
        }

        &.card-1,
        &.card-2,
        &.card-3 {
            padding: 4rem 3.5rem;
        }

        &.card-1 {
            top: 8.75rem;
        }

        &.card-2 {
            top: 18rem;
        }

        &.card-3 {
            top: 21.5rem;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 2;
        padding: 0 2rem;

        .arrow-button {
            background-color: colors.$blue-900;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            transition: all 0.8s ease;
            cursor: pointer;
            z-index: 2;

            .arrow-normal-state,
            .arrow-hover-state {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }

            .arrow-hover-state {
                display: none;
            }

            &:hover {
                background-color: colors.$yellow-500;

                .arrow-hover-state {
                    display: block !important;
                }

                .arrow-normal-state {
                    display: none;
                }
            }
        }

        .arrow-left {
            left: 2rem;
        }

        .arrow-right {
            right: 2rem;
        }
    }
}
@media (max-width: 768px) {
}

@media (max-width: 568px) {
    .values-block {
        height: 58rem;

        .values-title {
            left: 1rem;
            top: 4rem;
        }

        .value-card {
            &.card-1,
            &.card-2,
            &.card-3 {
                padding: 4rem 1rem;
            }

            &.card-1,
            &.card-3 {
                top: 11rem;
            }

            &.card-2 {
                top: 0rem;
            }

            .value-item {
                width: 90%;
            }
        }

        .button-container {

            .arrow-left {
                left: 0.9rem;
            }

            .arrow-right {
                right: 0.9rem;
            }
        }
    }
}

