@use '../../../../assets/sass/variables/colors';
@use '../../../../assets/sass/variables/fonts';

.values-block * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.values-block:hover .button-container {
    opacity: 1;
    transition: opacity 1s ease;
}
.values-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;

    .swiper {
        width: 100%;
    }

    .values-title {
        width: 100%;
        display: flex;
        position: absolute;
        padding-top: 2.75rem;
        padding-left: 3.531rem;

        h2 {
            font-family: fonts.$mulish-regular-font;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
        }
    }

    .value-card {
        position: relative;
        background-color: colors.$light-blue-50;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        padding: 4rem 3.5rem;

        .value-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
            width: 85%;

            .value-name {
                width: 100%;
                font-family: fonts.$mulish-regular-font;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2.25rem;
                letter-spacing: -0.02em;
                border-bottom: 2px solid white;
                padding-bottom: 0.25rem;
            }

            .value-description {
                font-family: fonts.$mulish-regular-font;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02em;
                color: colors.$blue-900;
            }
        }

        &.card-1 {
            margin-top: 8.75rem;
        }

        &.card-2 {
            margin-top: 17.5rem;
        }

        &.card-3 {
            margin-top: 21.5rem;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 2;
        padding: 0 2rem;
        transition: opacity 2s ease;
        opacity: 0;

        .arrow-button {
            background-color: colors.$blue-900;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            transition: all 0.4s ease;
            cursor: pointer;
            z-index: 2;

            .arrow-icon {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;

                path {
                    stroke: colors.$grey-50;
                }
            }

            &:hover {
                background-color: colors.$yellow-500;

                .arrow-icon path {
                    stroke: colors.$blue-900;
                }
            }
        }

        .arrow-left {
            left: 1.75rem;
        }

        .arrow-right {
            right: 1.75rem;
        }
    }
}

@media (max-width: 912px) {
    .values-block {
        padding: 3.75rem 0;

        .swiper {
            width: 100%;
        }

        .values-title {
            width: 100%;
            padding-top: 4rem;
            padding-left: 3.375rem;
        }

        .value-card {
            padding: 4rem 3.375rem;
            padding-right: 1rem;

            .value-item {
                width: 100%;
            }

            &.card-1 {
                margin-top: 11.125rem;
            }

            &.card-2 {
                margin-top: 0rem;
            }

            &.card-3 {
                margin-top: 11.125rem;
            }
        }

        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .values-block {
        padding: 3.75rem 0;

        .swiper {
            width: 100%;
        }

        .values-title {
            width: 14.5rem;
            padding-top: 4rem;
            padding-left: 3.375rem;

            h2 {
                font-family: fonts.$mulish-regular-font;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.5rem;
                letter-spacing: -0.02rem;
                text-transform: uppercase;
            }
        }

        .value-card {
            padding: 4rem 0rem;
            padding-left: 3.375rem;
            padding-right: 1rem;

            .value-item {
                width: 100%;
            }

            &.card-1 {
                margin-top: 13.7rem;
            }

            &.card-2 {
                margin-top: 0rem;
            }

            &.card-3 {
                margin-top: 13.7rem;
            }
        }

        .button-container {
            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }
        }
    }
}

@media (max-width: 568px) {
    .values-block {
        padding: 3.75rem 0;

        .swiper {
            width: 100%;
        }

        .values-title {
            width: 100%;
            padding-top: 4rem;
            padding-left: 1rem;
        }

        .value-card {
            padding: 4rem 1rem;

            .value-item {
                width: 100%;
            }

            &.card-1 {
                margin-top: 11.125rem;
            }

            &.card-2 {
                margin-top: 3.7rem;
            }

            &.card-3 {
                margin-top: 11.125rem;
            }
        }

        .button-container {
            .arrow-left {
                left: 0.25rem;
            }

            .arrow-right {
                right: 0.25rem;
            }
        }
    }
}
