@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    display: grid;
    grid-template-areas:
        'text'
        'list';
    row-gap: 64px;

    margin: 64px 16px 120px;

    @media (min-width: 560px) {
        margin: 96px 56px 120px;
    }

    @media (min-width: 1440px) {
        grid-template-columns: 1fr 1.75fr;
        grid-template-areas: 'text list';
        column-gap: 128px;
    }
}

.text {
    grid-area: text;
}

.list {
    grid-area: list;
}

.title {
    @include type.h4-bold-uppercase;
    margin-bottom: 16px;

    @media (min-width: 560px) {
        @include type.h3-bold-uppercase;
    }

    @media (min-width: 1440px) {
        margin: 12px auto 8px;
    }
}

.description {
    @include type.body-2-regular;
}

.toggle {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    @media (min-width: 1440px) {
        justify-content: start;
    }
}
