@use '@/assets/sass/variables/colors';

$dropdown-max-height: 120px;
$dropdown-gap: 6px;

.team-category-modal-error-container {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin: 0.5rem;
    color: colors.$error;
}

.delete-category-modal-content {
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
    overflow-y: hidden;

    .input-group {
        position: relative;

        &:has(.singleselect-options) {
            margin-bottom: calc(#{$dropdown-max-height} + #{$dropdown-gap}); 
        }
    }

    .singleselect-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        max-height: $dropdown-max-height;
        overflow-y: auto;
        scrollbar-color: #a4a49b transparent;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #a4a49b;
            border-radius: 8px;

            &:hover {
                background-color: #8c8c84;
            }
        }
    }
}
