@import '../BaseSectionTemplate.module.scss';

.container {
    @extend .section-container;
    display: flex;
}

.bottom-section {
    min-height: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.images-grid {
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: center;
}

.description-template {
    font-size: clamp(3px, 0.9vw, 1.5vmin);
    line-height: clamp(3px, 0.9vw, 1.5vmin);
}

.title-template {
    font-size: clamp(3px, 1.7vw, 3vmin);
    line-height: clamp(3px, 0.9vw, 2vmin);
}

.image-wrapper {
    height: 75%;
    &[data-elevated='true'] {
        position: relative;
        top: -25%;
    }
    justify-content: end;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.container.form-container {
    max-height: 1200px;
    gap: 30px;

    .top-section {
        flex: 40%;
    }

    .bottom-section {
        flex: 40%;
        padding-bottom: 100px;
    }

    .image-wrapper {
        width: 100%;

        [class~='input-group'] {
            height: 100%;
        }
    }
}
