.swiperContainer {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;

    [class~='swiper'] {
        flex: 1 1 auto;
    }
}

.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: end;
}
