@import '../../../assets/sass/variables/variables.colors';

.wrapper {
    width: 100%;

    .toolbar {
        display: flex;
        justify-content: space-between;
        padding: 3.375rem;

        &-actions {
            display: flex;
            justify-content: space-between;
            gap: 1.25rem;

            select {
                width: 8.1875rem;
                height: 2.5rem;
                top: 3.25rem;
                left: 95.1875rem;
                text-align: center;
                gap: 0.5rem;
                outline: none;
                border: 2px solid $blue-900;

                option {
                    outline: none;
                    border-radius: 0;
                }
            }
        }
    }
}

@media (max-width <= 1400px) {
    .toolbar {
        flex-wrap: wrap;
        gap: 0.9375rem;
    }
}
