.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

@media (max-width: 1200px) {
    .section {
        max-width: none;
    }
}

@media (max-width: 900px) {
    .section {
        padding: 0 24px;
    }
}
