@import '../../../assets/sass/variables/_variables.colors';
@import '../../../assets/sass/variables/variables.fonts';
@import '../../../assets/sass/mixins/utilits.mixins';

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: 4rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    box-sizing: border-box;

    background-color: rgba($grey-50, 0.5);

    backdrop-filter: blur(10.375rem);

    .logoContainer {
        .logo {
            user-select: none;
            cursor: pointer;
        }
    }

    .linkContainer {
        nav {
            display: flex;
            gap: 3rem;

            a {
                font-size: 1rem;
                @include link-base($blue-900, $blue-300, $blue-100);
                font-weight: 600;

                &.disable {
                    @include link-disabled();
                }
            }
        }
    }

    .buttonContainer {
        display: flex;
        gap: 0.5rem;

        .contactUsButton {
            background-color: transparent;
            width: 8.2em;
            height: 2.5rem;
            font-family: $mulish-regular-font;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            border: 1px solid $blue-900;
        }
        .donateButton {
            background-color: $blue-900;
            color: white;
            font-family: $mulish-regular-font;
            font-size: 1rem;
            width: 7.5rem;
            height: 2.5rem;
            cursor: pointer;
            text-decoration: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $blue-900;
        }
    }
}
