@use '../../../assets/sass/variables/colors';
@use '../../../assets/sass/variables/fonts';
@use '../../../assets/sass/mixins/utilits.mixins';

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    height: 4rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    box-sizing: border-box;

    background-color: rgba(colors.$grey-50, 0.5);

    backdrop-filter: blur(10.375rem);

    .logo-container {
        .logo {
            user-select: none;
            cursor: pointer;
        }
    }

    .link-container {
        nav {
            display: flex;
            gap: 3rem;

            a {
                font-size: 1rem;
                @include utilits.link-base(colors.$blue-900, colors.$blue-300, colors.$blue-100);
                font-weight: 600;

                &.disable {
                    @include utilits.link-disabled();
                }
            }
        }
    }

    .button-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .contact-us-button {
            background-color: transparent;
            width: 8.2em;
            height: 2.5rem;
            font-family: fonts.$mulish-regular-font;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            border: 1px solid colors.$blue-900;
        }
        .donate-button {
            background-color: colors.$blue-900;
            color: white;
            font-family: fonts.$mulish-regular-font;
            font-size: 1rem;
            width: 7.5rem;
            height: 2.5rem;
            cursor: pointer;
            text-decoration: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid colors.$blue-900;
        }
    }
}

.burger-menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    align-self: center;
    color: black;
}

.mobile-menu {
    display: none;
}

@media (max-width: 1024px) {
    .link-container {
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: white;
        width: 12rem;
        flex-direction: column;
        z-index: 10;

        a {
            font-weight: 600;
            text-decoration: none;
            padding: 1rem 1rem;
            color: black;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: colors.$blue-50;
            }

            &:last-child::after {
                content: none;
            }
        }

        .mobileButtons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .burger-menu-icon {
        display: flex;
    }
}

@media (max-width: 568px) {
    .header-block {
        .button-container {
            .contact-us-button {
                display: none;
            }
        }
    }
}
