@use '@/assets/sass/variables/colors';
@use '@/assets/sass/variables/fonts';
@use '@/assets/sass/mixins/utilits.mixins';
@use '@/assets/sass/variables/z-index';

$header-height: 4rem;

.header-block {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z-index.public(header);
    height: $header-height;
    background-color: rgba(colors.$grey-50, 0.5);
    backdrop-filter: blur(10.375rem);
    box-sizing: border-box;
    max-width: 1440px;
    overflow: visible;

    .header-content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        .logo-container {
            .logo {
                user-select: none;
                cursor: pointer;
            }
        }

        .link-container {
            nav {
                display: flex;
                gap: 2rem;

                a {
                    font-size: 1rem;
                    @include utilits.link-base(colors.$blue-900, colors.$blue-300, colors.$blue-100);
                    font-weight: 600;

                    &.disable {
                        @include utilits.link-disabled();
                    }
                }
            }
        }

        .button-container {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            .language-switcher {
                margin-right: 1rem;
            }
        }

    }
}

.header-spacer {
    height: $header-height;
    width: 100%;
}

.burger-menu-icon {
    display: none;
    align-self: center;
    color: black;

    &.button {
        width: 3.5rem !important;
        height: 3.5rem !important;
        padding: 0 !important;
    }

    svg {
        width: 2.5rem !important;
        height: 2.5rem !important;
    }
}

.mobile-menu {
    display: none;

    .mobile-language-switcher {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header-block {
        .header-content-container {
            .link-container {
                display: none;
            }
        }
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: white;
        width: 12rem;
        flex-direction: column;

        a {
            font-weight: 600;
            text-decoration: none;
            padding: 1rem 1rem;
            color: black;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: colors.$blue-50;
            }

            &:last-child::after {
                content: none;
            }
        }

        .mobileButtons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .burger-menu-icon {
        display: flex;
    }
}

@media (max-width: 559px) {
    .header-block {
        .header-content-container {
            padding-left: 0.75rem;
            padding-right: 0.25rem;

            .button-container {
                gap: 0.25rem;

                .language-switcher {
                    display: none;
                }

                .contact-us-button {
                    display: none;
                }
            }
        }
    }

    .mobile-menu {
        width: 100%;

        .mobile-language-switcher {
            display: flex;
            padding: 1rem;
            border-top: 1px solid colors.$blue-50;
        }
    }
}