@use '@/assets/sass/mixins/typography.mixins' as type;
@import '../shared/BaseSectionTemplate.module.scss';

.container {
    @extend %section-container;
    background-color: #fff;
    aspect-ratio: 1440 / 736;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.left-section {
    display: flex;
    flex: 0 0 50%;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    gap: 5%;
}

.title-section {
    display: flex;
    min-width: 0;
    align-items: start;
    width: 100%;
    > div {
        flex: 1;
    }
}

.title-input {
    textarea {
        @include type.h3-semibold-uppercase;
        height: 110px;
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.description-section {
    width: 100%;
    display: flex;
    min-width: 0;
    align-items: start;
    > div {
        flex: 1;
        width: 100%;

        textarea {
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }
}

.description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.right-section {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.image-wrapper {
    height: 100%;
}

.image {
    height: 100%;
    width: auto;
    object-fit: cover;
    aspect-ratio: 700 / 600;
}

.template {
    .title {
        font-size: clamp(3px, 1.5vw, 2.5vmin);
        line-height: clamp(3px, 0.9vw, 2vmin);
    }
    .description {
        font-size: clamp(3px, 0.9vw, 1.8vmin);
        line-height: clamp(3px, 0.9vw, 1.8vmin);
    }
}

.container.form-container {
    aspect-ratio: auto;
    max-height: none;
    overflow: visible;
    justify-content: space-between;

    .left-section {
        justify-content: flex-start;
        flex: 0 0 41%;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 5%;
    }

    .title-section {
        width: 100%;
    }

    .description-section {
        width: 100%;
    }

    .right-section {
        height: auto;
    }

    .image-wrapper {
        aspect-ratio: 700 / 600;
        width: 100%;
        max-width: 700px;
        max-height: 600px;

        [class~='input-group'] {
            height: 100%;
        }
    }
}
