@use '@/assets/sass/mixins/typography.mixins' as type;
@import '../shared/BaseSectionTemplate.module.scss';

$img-width: 700px;
$img-height: 600px;

.container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 60px 16px 0px 16px;

    @media (min-width: 560px) {
        padding: 60px 64px 0px 64px;
    }

    @media (min-width: 768px) {
        padding: 60px 56px 0px 56px;
    }

    @media (min-width: 1440px) {
        padding: 80px 56px 20px 56px;
        flex-direction: row;
        gap: 128px;
    }
}

.left-section {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.title-section {
    display: flex;
    min-width: 0;
    align-items: start;
    width: 100%;
}

.title {
    @include type.h3-semibold-uppercase;
    overflow-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
}

.description-section {
    width: 100%;
    display: flex;
    min-width: 0;
    align-items: start;
    > div {
        flex: 1;
    }
}

.description {
    @include type.body-1-medium;
    overflow-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
}

.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @media (min-width: 1440px) {
        padding: 20px 0px;
    }
}

.image-wrapper {
    width: 100%;
    aspect-ratio: $img-width / $img-height;
    max-width: $img-width;
}

.image {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}
