@use '@/assets/sass/variables/colors' as c;

.root {
    width: 13rem;
    height: 25.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.delete-button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.image-error {
    display: flex;
    min-height: 20px;
    align-items: flex-start;
}

.description {
    position: relative;
    width: 13rem;
    height: 9.75rem;
}
