@use '../../../../../assets/sass/variables/colors.scss';

.partner-form {
    width: 13rem;
    height: 25.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__delete-button {
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../../../../assets/icons/delete-default.svg');

        &:hover:not(:disabled) {
            background-image: url('../../../../../assets/icons/delete-hover.svg');
        }

        &:active:not(:disabled) {
            background-image: url('../../../../../assets/icons/delete-pressed.svg');
        }

        &:disabled {
            background-image: url('../../../../../assets/icons/delete-disabled.svg');
            cursor: not-allowed;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__image {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        :global(.image-input-wrapper) {
            width: 13rem;
            height: 13rem;

            :global(.image-placeholder) {
                width: 100%;
                height: 100%;

                :global(.placeholder-icon) {
                    width: 2.14rem;
                    height: 2.14rem;
                }
            }

            :global(.image-preview) {
                :global(.delete-button) {
                    width: 3.92rem;
                    height: 3.92rem;
                    padding: 0.89rem;

                    :global(.delete-icon) {
                        width: 1.425rem;
                        height: 1.425rem;
                    }
                }
            }
        }
    }

    &__description {
        position: relative;
        width: 13rem;
        height: 9.75rem;

        :global(.input-error) {
            position: absolute;
            left: 0;
            bottom: 0px;
            font-size: 0.75rem;
            line-height: 1rem;
        }
    }
}
