@use '../../../../../assets/sass/variables/colors.scss';

.partner-form {
    width: 208px;
    height: 404px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__delete-button {
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        cursor: pointer;
        background-size: cover;
        background: url('../../../../../assets/icons/delete-default.svg');

        &:hover:not(:disabled) {
            background: url('../../../../../assets/icons/delete-hover.svg');
        }

        &:active:not(:disabled) {
            background: url('../../../../../assets/icons/delete-pressed.svg');
        }

        &:disabled {
            background: url('../../../../../assets/icons/delete-disabled.svg');
            cursor: not-allowed;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__image {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        .input-group {
            width: 200px;
            height: 200px;
        }

        .input-label {
            display: none;
        }

        .partner-form__image-input {
            width: 200px;
            height: 200px;
        }

        .image-input-wrapper {
            width: 200px !important;
            height: 200px !important;
            padding: 15px;
            padding-bottom: 20px;
            box-sizing: border-box;
            position: relative;

            .image-placeholder,
            .image-preview {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;

                .placeholder-icon {
                    width: 56px;
                    height: 56px;
                    transform: translateY(-30px);
                }

                span {
                    display: none;
                }
            }

            &::after {
                display: none;
            }
        }

        &::before,
        &::after {
            display: none;
        }
    }

    .partner-form__description {
        position: relative;
        width: 208px;
        height: 156px;

        .input-error {
            position: absolute;
            left: 0;
            bottom: 0px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
