/* LEGACY CSS */
.image-placeholder {
    width: 100%;
    height: 100%;
}

.placeholder-icon {
    width: 2.14rem;
    height: 2.14rem;
}

.image-preview .delete-button {
    width: 3.92rem;
    height: 3.92rem;
    padding: 0.89rem;
}

.delete-icon {
    width: 1.425rem;
    height: 1.425rem;
}

.input-error {
    font-size: 0.75rem;
    line-height: 1rem;
}
