@use '@/assets/sass/variables/colors' as c;

.root {
    width: 13rem;
    height: 25.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.delete-button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    background: transparent;

    path {
        fill: c.$blue-500;
    }

    &:hover:not(:disabled) {
        path {
            fill: c.$blue-100;
        }
    }

    &:active:not(:disabled) {
        path {
            fill: c.$blue-900;
        }
    }

    &:disabled {
        path {
            fill: c.$grey-600;
        }
        cursor: not-allowed;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.description {
    position: relative;
    width: 13rem;
    height: 9.75rem;
}
