@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    position: relative;
    overflow: hidden;
    background-color: c.$grey-50;

    &:hover {
        .icon {
            height: 32px;
            width: 32px;

            path {
                stroke: c.$yellow-600;
            }
        }

        .content {
            max-height: 100%;
            transform: translateY(-16px);
            height: auto;
            transition: all 0.5s ease;
        }

        .description {
            opacity: 1;
            max-height: 200px;
        }
    }
}

.image-wrapper {
    width: 100%;
}

.image {
    width: 100%;
    aspect-ratio: 480 / 440;
    object-fit: cover;
    object-position: top;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: c.$grey-50;
    overflow: hidden;
    transition: all 0.5s ease;
}

.subtitle-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtitle {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.link {
    flex: 1;
    min-width: 0;
}

.categories {
    @include type.body-1-regular;
    color: c.$grey-800;
}

.name {
    @include type.body-1-medium;
    color: c.$blue-900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 2px;
}

.icon {
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
}

.description {
    @include type.body-2-regular;
    color: c.$blue-900;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    opacity: 0;
    transition:
        max-height 0.5s ease,
        opacity 0.4s ease 0.1s;
}
