@use '@/assets/sass/variables/colors';
@use '@/assets/sass/mixins/typography.mixins' as type;

.root {
    height: 481px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: colors.$grey-50;
    position: relative;

    &:hover {
        .icon {
            transform: translate(0, 0);
            height: 48px;
            width: 48px;

            path {
                stroke: colors.$yellow-600;
            }
        }

        .content {
            max-height: 100%;
            height: auto;
            transition: all 0.5s ease;
        }
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 15%;
    max-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 74px;
    padding: 16px;
    box-sizing: border-box;
    background-color: colors.$grey-50;
    transition: all 0.5s ease;
}

.subtitleContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtitle {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.link {
    width: 100%;
}

.categories {
    @include type.body-1-regular;
    color: colors.$grey-800;
    vertical-align: middle;
}

.name {
    @include type.body-1-medium;
    color: colors.$blue-900;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
}

.description {
    @include type.body-2-regular;
    color: colors.$blue-900;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
