@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/z-index' as z;
@use '@/assets/sass/mixins/typography.mixins' as type;

.modal {
    padding: 40px 30px 44px 30px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: c.$grey-700;
    margin-bottom: 12px;
}

.category-chip {
    @include type.small-text-medium;
    align-self: flex-start;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px 5px 17px;
    border: 1px solid c.$blue-500;
    border-radius: 20px;
    background: c.$blue-25;
    color: c.$blue-500;
    vertical-align: middle;
    margin-bottom: 4px;
}

.modal-title {
    @include type.h4-regular;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    color: c.$blue-900;
    margin-top: 25px;
    margin-bottom: 17px;
}

.title-input {
    margin-bottom: 12px;
}

.two-column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 26px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.date-placeholder {
    height: 77px;
}

.image-section {
    display: flex;
    flex-direction: column;

    label,
    span {
        margin-bottom: 6px;
    }
}

.image-wrapper {
    width: 162px;

    > div {
        border-radius: 8px;
        padding: 24px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        transition:
            background-color 0.2s ease,
            border-color 0.2s ease;

        &:hover {
            background-color: c.$grey-150;
            border-color: c.$grey-900;
        }

        p:first-of-type,
        span:first-of-type {
            @include type.small-text-regular;

            color: c.$blue-900;
            text-align: center;
            margin: 0;
        }

        p:last-of-type,
        span:last-of-type {
            @include type.body-2-regular;

            color: c.$blue-900;
            text-align: center;
            margin: 0;
        }
    }
}

.image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: c.$white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: z.admin('image-input-hover-overlay');
    }

    &:hover {
        &::after {
            opacity: 0.5;
        }

        .preview-overlay {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.preview-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: z.admin('image-input-action-buttons');
}

.disabled-action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: c.$grey-900;
    color: c.$grey-50;
    cursor: not-allowed;
}

.link-section-title {
    @include type.body-2-regular;
    margin: 0;
    color: c.$blue-900;
    margin-bottom: 6px;
    margin-left: 12px;
}

.link-ukr {
    margin-bottom: 5px;
    margin-left: 12px;
}

.link-eng {
    margin-bottom: 8px;
    margin-left: 12px;
}

.buttons-wrapper {
    display: flex;
    width: 100%;
    gap: 37px;
    margin-left: 35px;
}

.action-button {
    height: 40px !important;
    width: 241px !important;
    font-size: 16px;
    margin: 0 !important;
}
