@import '../../../../assets/sass/variables/_variables.colors.scss';

.video-background-container {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 100px;
  width: 110vw;
  height: 70vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 110vw;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.quote-overlay {
  min-height: 35rem;
  position: absolute;
  top: 3.75rem;
  left: 14%;
  z-index: 1;
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .video-text {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: $main-white;
  }

  .video-description {
    font-weight: 350;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 19rem;
    max-width: 600px;
    text-align: center;
    color: $main-white;
  }

  .video-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .btn-primary {
      height: 2.5rem;
      opacity: 1;
      padding: 0.5rem 1.5rem;
      background-color: $yellow-500;
      color: $blue-900;
      font-family: Mulish, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.02em;
      vertical-align: middle;
      border: none;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $main-white;
        background-color: $blue-900;
      }
    }

    .btn-secondary {
      height: 2.5rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid $grey-50;
      font-family: Mulish, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.02em;
      vertical-align: middle;
      background: none;
      color: $grey-50;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: white;
        color: #000;
      }
    }
  }
}

@media (max-width: 768px) {
  .quote-overlay {
    max-width: 90%;
    padding: 2rem;

    .video-text {
      font-size: 2rem;
    }

    .video-description {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .video-buttons {
      flex-direction: column;

      .btn-primary,
      .btn-secondary {
        width: 100%;
        max-width: 250px;
      }
    }
  }
}