@use '../../../../../assets/sass/variables/colors';

.who-we-are {
    &-main-box {
        margin-top: 5.875rem;
        display: flex;
        flex-direction: column;
        gap: 5.25rem;
        padding: 2.5rem;

        &-error-message {
            padding: 1rem;
            color: colors.$error;
            text-align: center;
        }
    }
}
