.blocks {
    display: flex;
    gap: 60px;
}

.error, .loader {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.error-button {
    width: 200px;
}