@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/variables/z-index';

.swiperSlide {
    width: 375px;

    @media (min-width: 560px) {
        width: 384px;
    }

    @media (min-width: 768px) {
        width: 384px;
    }

    @media (min-width: 1440px) {
        width: 481px;
    }
}
.swipers {
    position: relative;
}
.scrollbar {
    display: none;

    @media (min-width: 560px) {
        display: flex;
        background-color: c.$grey-100;
        height: 96px;
        justify-content: center;
        align-items: center;
    }
}

.line {
    width: 100%;
    margin: 48px 64px;
    height: 4px;
    background-color: c.$grey-400;
    border-radius: 0;

    @media (min-width: 768px) {
        margin: 48px 56px;
    }

    @media (min-width: 1440px) {
        margin: 48px 168px;
    }
}

.drag {
    height: 100%;
    border-radius: 0;
    background-color: c.$blue-900;
    cursor: pointer;
}

.left {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    z-index: z-index.$scrollable-frame-arrows;

    &:disabled {
        visibility: hidden;
    }

    @media (min-width: 560px) {
        left: 16px;
    }

    @media (min-width: 1440px) {
        left: 31px;
    }
}

.right {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    z-index: z-index.$scrollable-frame-arrows;

    &:disabled {
        visibility: hidden;
    }

    @media (min-width: 560px) {
        right: 16px;
    }

    @media (min-width: 1440px) {
        right: 31px;
    }
}

