@use '@/assets/sass/variables/colors';

.team-category {
    &-modal-form {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;

        .input-group {
            position: relative;
        }

        .singleselect-options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 100;
            max-height: 120px;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-color: #a4a49b transparent;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #a4a49b;
                border-radius: 8px;

                &:hover {
                    background-color: #8c8c84;
                }
            }
        }
    }

    &-modal-error-container {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        width: 100%;
        margin: 0.5rem;
        color: colors.$error;
    }

    &-modal-save-button {
        width: 100% !important;
    }
}
