.programs {
  padding-left: 44px;
  padding-right: 44px;

  &-not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-weight: 600;
      font-size: 40px;
    }
  }

  &-categories {
    border-bottom: 1px solid #A4A49B;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    background-color: #F8F8F8;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.22);

    &-button {
      font-size: 24px;
      border: none;
      background: transparent;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;
      padding: 15px;

      &.programs-categories-selected {
        border-bottom: 1px solid #041128;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.15);
      }
    }
  }

  &-list {
    position: relative;
    height: 70vh;
    max-height: 70vh;
    padding-left: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &-loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        animation: rotate infinite 1s;
      }
    }

    &-list-to-top {
      right: 150px;
      bottom: 50px;
      position: fixed;
      width: 60px;
      height: 60px;
      background-color: #0F2957;
      border-radius: 1000%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: #061125;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
}
