.admin-panel-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    &-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
    }

    &-search {
        width: 38.75rem;
    }
}
@media (max-width: 1810px) {
    .admin-panel-toolbar {
        &-search {
            width: 28.75rem;
        }
    }
}

@media (max-width: 1660px) {
    .admin-panel-toolbar {
        &-search {
            width: 20.75rem;
        }
    }
}

@media (max-width: 1520px) {
    .admin-panel-toolbar {
        &-search {
            width: 15.75rem;
        }
    }
}
