@use '../../../../../assets/sass/variables/colors';

.program-search-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 0.25rem 0.5rem;
}

.program-search-item__name,
.program-search-item__categories {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.program-search-item__name {
    font-size: 1rem;
    font-weight: 500;
}

.program-search-item__categories {
    font-size: 0.875rem;
    margin-top: 0.125rem;
    color: colors.$grey-900;
}

.program-search-item-tooltip__name,
.program-search-item-tooltip__categories {
    display: block;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.program-search-item-tooltip__name {
    font-size: 1rem;
    font-weight: 500;
}

.program-search-item-tooltip__categories {
    font-size: 0.875rem;
    margin-top: 0.125rem;
    color: colors.$grey-900;
}
