@import '../../../../../assets/sass/variables/variables.colors';

.members-wrapper {
    padding: 0;
    border: none;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    display: flex;
    height: 120px;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 4px #80808073;
    margin-bottom: 8px;
}

.members-dragger {
    border: none;
    background: transparent;
    height: 100%;
    width: 60px;
    box-shadow: 0 0 4px #80808073;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: grab;
        background-color: $blue-50;
    }
}
