$mulish-font-family: 'Mulish', sans-serif;

.alternativeSupportWays {
    padding-top: 4rem;
    font-family: $mulish-font-family;
    color: #061125;

    h2 {
        padding-bottom: 2rem;
        font-weight: 700;
        font-size: 2rem;
        color: #061125;
    }

    h3 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .label {
        font-size: 1.125rem;
    }

    a.label {
        color: #061125;
    }

    .labelContainer {
        padding-bottom: 1.5rem;
    }

    .labelWithCopyButton {
        padding-top: 0.125rem;
        display: flex;
        gap: 0.5rem;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .downloadPaymentDetailsButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-family: $mulish-font-family;
            font-weight: 400;
            font-size: 1rem;
            background-color: white;
            width: 19.75rem;
            height: 2.5rem;
            cursor: pointer;
        }

        .shareButton {
            background-color: white;
            cursor: pointer;
            display: none;
        }
    }
}
