@import '../../assets/sass/variables/variables.colors';
@import '../../assets/sass/variables/variables.fonts';

.admin {
    color: #041128;
    display: flex;

    &__navigation {
        width: 311px;
        box-shadow: 1px 1px 2px rgba($grey-850, 0.38);
        height: 100vh;
        position: sticky;
    }

    &__page {
        background-color: $grey-50;
        width: calc(100% - 311px);
    }

    font-family: $mulish-regular-font;

    button,
    select,
    input {
        font-family: $mulish-regular-font;
    }
}
