@use '../../../../../assets/sass/variables/colors';

.team-member-form-main {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .functional-group {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        gap: 10px;
        margin: 0.5rem 0;
    }

    .form-group {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 6px;
    }

    .language-select {
        width: 140px;
    }

    .generate-button {
        width: 45%;
    }

    .translate-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .error {
        color: colors.$error;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }

    .desc-error {
        position: absolute;
        bottom: 0px;
    }
}
