@use '@/assets/sass/variables/colors';

.donatePage {
    background-color: colors.$light-blue-50;
    width: 100%;
    min-height: 100vh;
    padding-top: 1rem;

    &-loader {
        width: 70%;
        margin: 8rem auto 4rem;

        .MuiLinearProgress-root {
            height: 4px;
        }
    }

    &-error-message {
        color: colors.$error;
        margin-top: 8rem;
        text-align: center;
    }
}

.donatePageContent {
    display: flex;
    justify-content: center;
    gap: 7.94rem;
    padding: 6rem 0 6rem 12.5rem;

    .stickyBlock {
        position: sticky;
        top: 21rem;
        height: fit-content;
    }
}

@media (max-width: 900px) {
    .donatePageContent {
        flex-direction: column;
        align-items: stretch;
        gap: 3rem;
        padding: 4rem 2rem;

        .stickyBlock {
            position: static;
            width: 100%;
        }

        .rightSectionContainer {
            width: 100%;
        }
    }
}

@media (max-width: 568px) {
    .donatePageContent {
        padding: 3rem 1rem;
        gap: 2rem;
    }
}
