@use '@/assets/sass/variables/colors';

.donatePage {
    background-color: colors.$light-blue-50;
    padding-top: 4.125rem;

    &-loader {
        width: 70%;
        margin: 8rem auto 4rem;

        .MuiLinearProgress-root {
            height: 4px;
        }
    }

    &-error-message {
        color: colors.$error;
        margin-top: 8rem;
        text-align: center;
    }
}

.donatePageContent {
    display: flex;
    justify-content: center;
    gap: 7.94rem;
    padding: 6rem 0 6rem 12.5rem;

    .stickyBlock {
        position: sticky;
        top: 2rem;
        height: fit-content;
    }
}
