.page1-container {
    h1 {
        font-size: 25px;
    }

    .team-member {
        list-style: none;
        padding: 0;
        margin: 0;

        img {
            width: 20rem;
        }
        .member-role{
            font-weight: 400;
            color: #7F7F78;
            margin-top: 0.25rem;
        }
        .member-name{
            font-weight: 700;
            margin: 0;
        }
    }


}