@use '../../../assets/sass/variables/colors';

.char-limit-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.625rem;
    border: 1px solid colors.$blue-500;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(colors.$blue-900, 0.051);
    font-size: 16px;

    &--focused {
        border-color: colors.$grey-700;
    }

    &--disabled {
        background-color: colors.$grey-600;
        border-color: colors.$grey-900;
    }

    &__field {
        flex: 1;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        color: colors.$grey-900;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__counter {
        white-space: nowrap;
        color: colors.$grey-900;
    }
}
