@use '@/assets/sass/variables/colors' as c;
@use '@/assets/sass/mixins/typography.mixins' as type;
@import '../shared/BaseSectionTemplate.module.scss';

.faq-section {
    @extend .section-container;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 1200px, 1200px);
    height: 500px;
    background-color: c.$white;
    padding: 0 60px;

    &.template {
        overflow: hidden;
        padding: 0 5%;
    }
}

.faq-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid c.$blue-100;
    gap: 10px;

    .template & {
        padding-top: 24px;
    }
}

.title {
    flex: 0 0 41%;
    @include type.h3-bold;
    text-transform: uppercase;
    color: c.$blue-900;

    .template & {
        width: 100%;
        font-size: clamp(12px, 2vw, 40px);
        line-height: clamp(14px, 2.4vw, 48px);
        text-align: center;
    }
}

.questions-container {
    @include type.h3-semibold;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    .template & {
        gap: clamp(4px, 0.5vw, 8px);
        max-width: 100%;
        font-size: clamp(8px, 1vw, 14px);
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

.faq-card-program-section {
    border-bottom-color: c.$blue-100;
    width: clamp(100px, 48rem, 100%);
}
