@use '../../../assets/sass/variables/colors.scss';

.about-us {
	&-loader {
        width: 70%;
        margin-bottom: 4rem;
        position: relative;
        z-index: 10;
	}

	&-error-message {
		color: colors.$error;
		margin-top: 8rem;
		text-align: center;
	}
}
