@use '../../../assets/sass/variables/colors.scss';

.about-us {
	&-loader {
        width: 70%;
        position: relative;
        z-index: 10;
		  margin: 8rem auto 4rem;
	}

	&-error-message {
		color: colors.$error;
		margin-top: 8rem;
		text-align: center;
	}
}
