@use '../../../assets/sass/variables/colors.scss';
@use '../../../assets/sass/variables/z-index.scss';

.about-us {
    &-loader {
        width: 70%;
        position: relative;
        margin: 8rem auto 4rem;
    }

    &-error-message {
        color: colors.$error;
        margin-top: 8rem;
        text-align: center;
    }
}
