@use '../../../../assets/sass/variables/fonts';
@use '../../../../assets/sass/variables/colors';

.UkrainePaymentDetails {
    h2 {
        font-family: fonts.$mulish-regular-font;
        color: colors.$blue-900;
        font-weight: 700;
        font-size: 2rem;
    }

    .paymentDetails {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;

        h3 {
            font-weight: 600;
            font-size: 1.5rem;
            color: colors.$blue-900;
            font-family: fonts.$mulish-regular-font;
        }

        .label {
            font-family: fonts.$mulish-regular-font;
            color: colors.$blue-900;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .labelWithCopyButton {
            padding-top: 0.125rem;
            display: flex;
            gap: 0.5rem;
        }
    }
}
