@import '../shared/BaseSectionTemplate.module.scss';
$img-height: 680px;

.container {
    padding-top: 80px;
}

.bottom-section {
    height: $img-height;
}

.image-wrapper {
    height: 100%;
}

.image {
    width: 100%;
    height: $img-height;
    object-fit: cover;
}
