@import '../shared/BaseSectionTemplate.module.scss';

.container {
    padding-top: 80px;
}

.bottom-section {
    width: 100%;
}

.image-wrapper {
    aspect-ratio: 1440 / 680;
    width: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}
