@import '../shared/BaseSectionTemplate.module.scss';

.container {
    @extend .section-container;
    aspect-ratio: 1330 / 1200;
    display: flex;
}

.top-section {
    flex: 0 0 40%;
}

.bottom-section {
    flex: 0 0 60%;
    display: flex;
}

.image-wrapper {
    height: 100%;
    aspect-ratio: 1330 / 680;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1330 / 680;
}

.container.editable {
    max-height: 1300px;
    gap: 2rem;

    .bottom-section {
        flex: auto;
        height: auto;
        justify-content: center;
    }

    .image-wrapper {
        max-height: 680px;

        > div {
            height: 100%;

            > div {
                height: 100%;
            }
        }
    }
}